@(addressForm: Form[vo.AddressVo], addressList: Seq[Address])(implicit user: Option[Profile])

@import helper._
@myAccount(user){
<script type="text/javascript">
    function showAddressForm(){
        $("#popForm").dialog({
            title: "设置地址信息",
            width: 760,
            height: 400,
            modal:true,
            open:function(event, ui){
                $(".ui-dialog-titlebar-close", $(this).parent()).hide();
                $('#lineError').hide();
                $('#contactPersonError').hide();
                $('#contactPhoneError').hide();
                $('#areaNameError').hide();
            },
            buttons:{"@Messages("ok.button")": function(){
                var valid = true;
                if($('#addressLine').val().trim() == ""){
                    $('#lineError').show();
                    valid = false;
                }
                if($('#contactPerson').val().trim() == ""){
                    $('#contactPersonError').show();
                    valid = false;
                }
                if($('#contactPhone').val().trim() == ""){
                    $('#contactPhoneError').show();
                    valid = false;
                }
                if($('#areaId').val().trim() == "" || $('#areaName').val().trim() == ""){
                    $('#areaNameError').show();
                    valid = false;
                }

                if(!valid)
                    return;
                $('form').submit();
                $(this).dialog("close");
            },
            "@Messages("cancel.button")": function() {
                $('#id').val("");
                $('#areaId').val("");
                $('#province').val("");
                $('#city').val("");
                $('#district').val("");
                $('#addressLine').val("");
                $('#contactPhone').val("");
                $('#contactPerson').val("");
                $('#areaName').val("");
                $(this).dialog( "close" );
            }}
        })
    }

    function modifyPopup(element){
        var addrId = element.attr("id").substr(7);
        $('#id').val(addrId);
        $('#areaId').val($('#areaId'+addrId).text());
        $('#province').val($('#prov' + addrId).text());
        $('#city').val($('#city' + addrId).text());
        $('#district').val($('#dist' + addrId).text());
        $('#addressLine').val($('#line' + addrId).text());
        $('#contactPhone').val($('#phone' + addrId).text());
        $('#contactPerson').val($('#person' + addrId).text());
        $('#areaName').val($('#areaName' + addrId).text());
        if($('#isDefault' + addrId).text() == "true"){
            $('#isDefaultAddress0').attr("checked",'2');
        } else {
            $('#isDefaultAddress1').attr("checked",'2');
        }
        showAddressForm();
    }

    $(function(){
    // --- Initialize Area trees
    $("#tree").dynatree({
        title: "Area Trees",
        checkbox:true,
        selectMode:1,
        fx: { height: "toggle", duration: 200 },
        autoFocus: false,

        onSelect: function(select, node) {
        // Display list of selected nodes
        var selNodes = node.tree.getSelectedNodes();
        // convert to title/key array
        var selKeys = $.map(selNodes, function(node){
        return node.data.key;
        });
        var selTitle = $.map(selNodes, function(node){
        return node.data.title;
        });
        $("#areaName").val(selTitle.join(","));
        $("#areaId").val(selKeys.join(";"));
        },

        initAjax: {
            url: "@routes.Addresses.initAreaTrees",
            data: { mode: "funnyMode" }
        },

        onActivate: function(node) {
            $("#echoActive").text("" + node + " (" + node.getKeyPath()+ ")");
        },

        onLazyRead: function(node){
        node.appendAjax({
            url: "/area/child/" + node.data.key,
            data: {key: node.data.key, mode: "funnyMode"}
        });
        }
    });
    //auto complete part
    $( "#areaName" ).autocomplete({
        source:"/area/search",
        minLength: 1,
        appendTo: "#popForm",
        select: function(event, ui){
            event.preventDefault();
            $('#areaId').val(ui.item.value)
            $('#areaName').val(ui.item.label);
        },
        focus: function(event, ui) {
            event.preventDefault();
            var menu = $(this).data("uiAutocomplete").menu.element,
            focused = menu.find("li:has(a.ui-state-focus)");
            focused.attr("title", ui.item.detail);
        }
        });
    });

    function showAreaTree(){
        $("#tree").dialog({
            title: "@Messages("area.pickparent.title")",
            width: 760,
            height: 400,
            modal:true,
            buttons:{"@Messages("ok.button")": function(){
                $(this).dialog("close");
            },
            "@Messages("cancel.button")": function() {
                $(this).dialog( "close" );
            }}
        })
    }

    function confirmDeleteAddress(element){
        var addrId = element.attr("id").substr(7);
        $('#divconfirm'+addrId).dialog({
            resizable: false,
            height:140,
            modal: true,
            open:function(event, ui){
                $(".ui-dialog-titlebar-close", $(this).parent()).hide();
            },
            closeOnEscape: false,
            buttons: {
            "@Messages("ok.button")": function() {
                $.ajax({
                async:false,
                url:"/myaccount/address/" + addrId,
                type:"DELETE",
                success: function(result){
                document.location.href = "@routes.ProfileController.addressList()";
                }
            });
            $(this).dialog( "close" );
            },
            "@Messages("cancel.button")": function() {
                $(this).dialog( "close" );
            }
            }
        });
    }
</script>

<div class="o-mt">
    <h2>@Messages("myacct.address.title")</h2>
</div>
<div id="popForm" class="thickbox" style="display: none">
    <div class="thickcon" >
        <div class="mc">
            @form(routes.ProfileController.updateAddress){
            <input type="hidden" name="id" id="id"/>
            <input type="hidden" name="areaId" id="areaId"/>
            <div class="form" id="consigneePanel">
                <div class="item">
                    <span class="label"><em>*</em>收&nbsp;货&nbsp;人：</span>
                    <div class="fl">
                        <input id="contactPerson" name="contactPerson" type="text" class="text" value="" maxlength="20">
                        <div class="prompt-error" id="contactPersonError" style="display:none"><span id="petName_msg">@Messages("error.required")</span></div>
                    </div>
                    <div class="clr">
                    </div>
                </div>
                <div class="item">
                    <span class="label"><em>*</em>所在地区：</span>
                    <div class="fl">
                    <span id="consignee_area">
                      <span>
                       <select id="province" name="province" class="sele"><option value="sc">@util.AddressInfo.provinceName("sc")</option></select>
                      </span>
                      <span>
                      <select id="city" name="city" class="sele"><option value="cd">@util.AddressInfo.cityName("cd")</option></select>
                      </span>
                      <span>
                      <select id="district" name="district" class="sele">
                          @for(dist <- (util.AddressInfo.cityDistrictMap.get("cd").get)){
                            <option value="@dist">@util.AddressInfo.distName(dist)</option>
                          }
                      </select>
                      </span>
             </span>
                        </div>
                    <div class="clr">
                    </div>
                </div>
                <div class="item">
                    <span class="label"><em>*</em>@Messages("addr.area.label")</span>
                    <div class="fl">
                        <input id="areaName" name="areaName" class="text" type="text">
                        <a class="btn-12" href="#none" id="choosearea" onclick="showAreaTree()"><s></s>@Messages("addr.area.btn")</a>
                        <div class="prompt-error" id="areaNameError" style="display:none"><span id="petName_msg">@Messages("addr.area.error")</span></div>
                    </div>
                    <div class="clr">
                    </div>
                </div>
                <div class="item">
                    <span class="label"><em>*</em>电话号码：</span>
                    <div class="fl">
                        <input type="text" name="contactPhone" id="contactPhone" class="text" value=""></div>
                        <div class="prompt-error" id="contactPhoneError" style="display:none"><span id="petName_msg">@Messages("error.required")</span></div>
                    <div class="clr">
                    </div>
                </div>
                <div class="item">
                    <span class="label"><em>*</em>详细地址：</span>
                    <div class="fl">
                        <label id="lblAreaName"></label><textarea id="addressLine" name="addressLine" type="text" value="" class="text area" maxlength="50"></textarea></div>
                        <div class="prompt-error" id="lineError" style="display:none"><span id="petName_msg">@Messages("error.required")</span></div>
                    <div class="clr">
                    </div>
                </div>
                <div class="item">
                    <span class="label"><em>*</em>默认地址：</span>
                    <div class="fl">
                        <input type="radio" name="isDefaultAddress" id="isDefaultAddress0" value="true" ><label for="isDefaultAddress0">&nbsp;是&nbsp;</label>
                        <input type="radio" name="isDefaultAddress" id="isDefaultAddress1" value="false"><label for="isDefaultAddress1">&nbsp;否&nbsp;</label>
                    </div>
                    <div class="prompt-error" id="lineError" style="display:none"><span id="petName_msg">@Messages("error.required")</span></div>
                    <div class="clr">
                    </div>
                </div>
            </div>
            }
        </div>
        <div id="tree" style="display:none;overflow: hidden">

        </div>

    </div>
</div>
<div class="o-m">
    <div class="o-mb">
        <h3> <a href="#none" class="btn-6" onclick="showAddressForm()"><s></s>新 增</a></h3>
    </div>

    @for((address, idx) <- addressList.zipWithIndex){
    <div class="o-mc">
        <div class="m m4" id="divorderaddress48896010">
            <div class="mt">
                <h3>地址@(idx + 1)</h3>
                <div class="extra">
                    <a class="btn-12" href="#none" id="modaddr@address.id" onclick="modifyPopup($(this))"><s></s>@Messages("area.update.btn")</a>
                    <a class="btn-12 del" href="#none" id="deladdr@address.id" onclick="confirmDeleteAddress($(this))"><s></s>@Messages("area.delete.btn")</a>
                    <div id="divconfirm@address.id" style="display:none">
                        <span>@Messages("addr.delete.cfmsg", idx + 1)</span>
                    </div>
                </div>
            </div>
            <div class="mc">
                <div class="tb-0">
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <tbody>
                        <tr>
                            <th>@Messages("addr.contactperson.label")</th>
                            <td width="330" id="person@address.id">@address.contactPerson</td>
                            <th>&nbsp;</th>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <th>@Messages("addr.area.label")</th>
                            <td width="330" id="areaName@address.id">@(if(address.area.isDefined) address.area.get.name)</td>
                            <th>&nbsp;</th>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <th>@Messages("addr.addressline.label")</th>
                            <td><div class="u-adress">@(util.AddressInfo.fullName(address.province, address.city, address.district) + address.addressLine)</div></td>
                            <th>
                                &nbsp;
                            </th>
                        </tr>
                        <tr>
                            <th>@Messages("addr.phone.label")</th>
                            <td id="phone@address.id">@address.contactPhone</td>
                            <th>
                                &nbsp;
                            </th>
                        </tr>
                        <tr>
                            <th>@Messages("addr.default.label")</th>
                            <td id="phone@address.id">@(if(address.isDefault.get) "是" else "否")</td>
                            <th>
                                &nbsp;
                            </th>
                        </tr>
                        <span style="display:none" id="areaId@address.id">@address.areaId</span>
                        <span style="display:none" id="prov@address.id">@address.province</span>
                        <span style="display:none" id="city@address.id">@address.city</span>
                        <span style="display:none" id="dist@address.id">@address.district</span>
                        <span style="display:none" id="line@address.id">@address.addressLine</span>
                        <span style="display:none" id="isDefault@address.id">@address.isDefault</span>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>}
</div>
}