@(addressForm: Form[Address], addressList: Seq[Address])(implicit user: Option[Profile])

@import helper._
@myAccount(user){
<script type="text/javascript">
    function showAddressForm(){
        $("#popForm").dialog({
            title: "设置地址信息",
            width: 760,
            height: 400,
            modal:true,
            buttons:{"@Messages("ok.button")": function(){
                $('form').submit();
                $(this).dialog("close");
            }}
        })
    }

    $(function(){
    // --- Initialize sample trees
    $("#tree").dynatree({
        title: "Lazy loading sample",
        checkbox:true,
        selectMode:1,
        fx: { height: "toggle", duration: 200 },
        autoFocus: false,

        onSelect: function(select, node) {
        // Display list of selected nodes
        var selNodes = node.tree.getSelectedNodes();
        // convert to title/key array
        var selKeys = $.map(selNodes, function(node){
        return node.data.key;
        });
        var selTitle = $.map(selNodes, function(node){
        return node.data.title;
        });
        $("#areaName").val(selTitle.join(","));
        $("#areaId").val(selKeys.join(";"));
        },

        initAjax: {
            url: "@routes.Addresses.initAreaTrees",
            data: { mode: "funnyMode" }
        },

        onActivate: function(node) {
            $("#echoActive").text("" + node + " (" + node.getKeyPath()+ ")");
        },

        onLazyRead: function(node){
        node.appendAjax({
            url: "/area/child/" + node.data.key,
            data: {key: node.data.key, mode: "funnyMode"}
        });
        }
    });
    });

    function showAreaTree(){
        $("#tree").dialog({
            title: "@Messages("area.pickparent.title")",
            width: 760,
            height: 400,
            modal:true,
            buttons:{"@Messages("ok.button")": function(){
                $(this).dialog("close");
            },
            "@Messages("cancel.button")": function() {
                $(this).dialog( "close" );
            }}
        })
    }

</script>

<div class="o-mt">
    <h2>@Messages("myacct.address.title")</h2>
</div>
<div id="popForm" class="thickbox" style="display: none">
    <div class="thickcon" >
        <div class="mc">
            @form(routes.ProfileController.updateAddress){
            <input type="hidden" name="id" id="id"/>
            <input type="hidden" name="areaId" id="areaId"/>
            <div class="form" id="consigneePanel">    <div class="item">
                <span class="label"><em>*</em>收&nbsp;货&nbsp;人：</span>
                <div class="fl">
                    <input id="contactPerson" name="contactPerson" type="text" class="text" value="" maxlength="20"></div>
                <div class="clr">
                </div>
            </div>
                <div class="item">
                    <span class="label"><em>*</em>所在地区：</span>
                    <div class="fl">
            <span id="consignee_area">
                      <span>
                       <select id="province" name="province" class="sele"><option value="sc">@util.AddressInfo.provinceName("sc")</option></select>
                      </span>
                      <span>
                      <select id="city" name="city" class="sele"><option value="cd">@util.AddressInfo.cityName("cd")</option></select>
                      </span>
                      <span>
                      <select id="district" name="district" class="sele">
                          @for(dist <- (util.AddressInfo.cityDistrictMap.get("cd").get)){
                            <option value="@dist">@util.AddressInfo.distName(dist)</option>
                          }
                      </select>
                      </span>
             </span>
                        </div>
                    <div class="clr">
                    </div>
                </div>
                <div class="item">
                    <span class="label">@Messages("addr.area.label")</span>
                    <div class="fl">
                        <input id="areaName" name="areaName" type="text" value="" readonly class="text text1" maxlength="50">
                        <a class="btn-12" href="#none" id="choosearea" onclick="showAreaTree()"><s></s>@Messages("addr.area.btn")</a>
                    </div>
                    <div class="clr">
                    </div>
                </div>
                <div class="item">
                    <span class="label">电话号码：</span>
                    <div class="fl">
                        <input id="consignee_message" type="text" name="contactPhone" id="contactPhone" class="text" value=""></div>
                    <div class="clr">
                    </div>
                </div>
                <div class="item">
                    <span class="label"><em>*</em>详细地址：</span>
                    <div class="fl">
                        <label id="lblAreaName"></label><textarea id="addressLine" name="addressLine" type="text" value="" class="text area" maxlength="50"></textarea></div>
                    <div class="clr">
                    </div>
                </div>
            </div>
            }
        </div>
        <div id="tree" style="display:none;overflow: hidden">

        </div>

    </div>
</div>
<div class="o-m">
    <div class="o-mb">
        <h3> <a href="#none" class="btn-6" onclick="showAddressForm()"><s></s>新 增</a></h3>
    </div>

    @for((address, idx) <- addressList.zipWithIndex){
    <div class="o-mc">
        <div class="m m4" id="divorderaddress48896010">
            <div class="mt">
                <h3>地址@idx</h3>
                <div class="extra">
                    <a class="btn-12 del" href="#none" id="delOrderAddress48896010"><s></s>删除</a>

                    <div class="prompt-01" id="divsuredelOrderAddress48896010">
                        <div class="pc">
                            <h5>
                                <s></s>您确定删除吗？</h5>
                            <div class="btns">
                                <a class="btn-12" href="#none" id="suredelOrderAddress48896010" name="48896010">
                                    <s></s>确定</a> <a class="btn-12 closer" href="#none"><s></s>取消</a>
                            </div>
                        </div>
                        <div class="pb pb-b">
                            <b class="b1"></b><b class="b2"></b><b class="b3"></b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mc">
                <div class="tb-0">
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <tbody><tr>
                            <th>收货人：</th>
                            <td width="330">李金峡</td>
                            <th>&nbsp;</th>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <th>详细地址：</th>
                            <td><div class="u-adress">四川成都市高新区绕城环线以外天府大道1388号美年广场2栋3单元1203</div></td>
                            <th>
                                &nbsp;
                            </th>

                        </tr>
                        <tr>
                            <th>手机号码：</th>
                            <td>18040306845</td>
                            <th>
                                &nbsp;
                            </th>

                        </tr>
                        <tr>
                            <th>固定电话：</th>
                            <td>81506640</td>
                            <th>
                                &nbsp;
                            </th>
                        </tr>
                        <tr>
                            <th>电子邮件：</th>
                            <td></td>
                            <th>
                                &nbsp;
                            </th>
                        </tr>
                        <tr>
                            <th>邮编：</th>
                            <td></td>
                            <th>
                                &nbsp;
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>}
</div>
}