@(order: Order)(implicit user: Option[Profile])

@import helper._
@main(Messages("myacct.orderdetail.title"), user) {
<div class="w">
    <div class="breadcrumb">
        <strong><a href="@routes.Application.index/">我的京东</a></strong>
        <span>&nbsp;&gt;&nbsp;<a href="http://jd2008.jd.com/JdHome/OrderList.aspx">订单中心</a>&nbsp;&gt;&nbsp;订单：@order.id<span></span></span>
    </div>
    <div class="m" id="orderstate">
        <div class="mt">
            <strong>订单号：1135579807&nbsp;&nbsp;&nbsp;&nbsp;状态：<span class="ftx14">完成</span><span id="pay-button-1135579807"></span>
                <span class="thirdpop"></span>
            </strong>
            <div class="fr">
                <div class="toolbar"><input type="button" clstag="click|keycount|orderinfo|btn_Print" class="btn-img btn-inst" onclick="window.open('http://order.jd.com/normal/print.action?orderid=1135579807&amp;PassKey=6450CDBC9BB3E4AA43EC8B394A676906')" id="btn_Print" value="订单打印"><input type="button" class="btn-img btn" clstag="click|keycount|orderinfo|btn_Comment" onclick="javascript:location.href='http://club.jd.com/JdVote/TradeComment.aspx?ruleid=1135579807&amp;ot=0&amp;payid=4'" id="btn_Comment" value="评价"></div>
            </div>
        </div>

        <div class="mc" style="display:show">

            订单已经完成，感谢您在京东商城购物，欢迎您对本次交易及所购商品进行评价。<span class="flk13"><a href="http://club.jd.com/JdVote/TradeComment.aspx?ruleid=1135579807&amp;ot=0&amp;payid=4">发表评价</a></span>

        </div>

        <div class="mc" id="zxzf" style="display:none">
            <div>
                <p style="text-align:left;">
                    尊敬的客户，您的订单商品已经从库房发出，请您做好收货准备。
                </p>
                <p style="text-align:left;">
                    <span class="ftx-01">由京东提供</span>
                    <s class="icon-bao"></s>
                    <a target="_blank" href="http://help.jd.com/help/question-56.html#help1995">在线交易保障</a>
                    <span>如果您已收到货，请确认收货，京东将与卖家结算。如果您对购买的商品不满意，您可在确认收货后发起返修/退换货申请!</span>
                </p>
            </div>
        </div>

    </div>
</div>
}