@()(implicit user: Option[Profile], flash: Flash)

@import helper._
@myAccount(user){

<div class="o-mt">
    <h2>@Messages("myacct.changepwd.title")</h2>
</div>
<div id="step1" class="step step01">
    <ul>
        <li class="fore1">1.验证身份<b></b></li><li class="fore2">2.修改登录密码<b></b></li><li class="fore3">3.完成</li>
    </ul>
</div>
<div class="m m1 safe-sevi">
    <div class="mc">
        <div class="form form01">
            <div class="item item01">
                <span class="label">用户邮箱：</span>
                <div class="fl">
                    <strong class="ftx-un" id="mobileSpan">@util.AppHelper.maskMail(user.get.login)</strong>
                    <div class="clr"></div>
                    <!-- <div class="msg-text">若该手机号无法接收验证短信，请拨打客服电话400-606-5500转5申诉更改验证手机</div> -->
                </div>
                <div class="clr"></div>
            </div>

            <div class="item">
                <span class="label">&nbsp;</span>
                <div class="fl">
                    <a class="btn btn-7" id="sendMobileCode" href="javascript:void(0)" onclick="sendCode();"><s></s>获取邮件校验码</a>
                    <div class="clr"></div>
                    <div id="countDown" style="display: none;" class="msg-text">校验码已发出，请注意查收邮件，如果没有收到，你可以要求系统重新发送</div>
                    <div class="clr"></div>
                    <div class="msg-error" id="sendCode_error" style="display: none;"></div>
                </div>
                <div class="clr"></div>
            </div>
        </div>
        @form(routes.ProfileController.verifyPwdChangeMailCode){
        <div class="form">
            <div class="item">
                <span class="label">请填写校验码：</span>
                <div class="fl">
                    <input type="text" class="text" name="code" tabindex="1" id="code" >
                    <div class="clr"></div>
                    <div id="code_error" class="msg-error" style="display:none"></div>
                </div>
                <div class="clr"></div>
            </div>

            <div class="item">
                <span class="label">&nbsp;</span>
                <input type="text" id="signedData" value="" style="display:none">
                <input type="text" id="serialNumber" value="" style="display:none">
                <div class="fl"><a id="submitCode" class="btn btn-7" href="javascript:void(0);" onclick="javascript: $('form').submit()" name=""><s></s>提交</a></div>
                <div class="clr"></div>
                @flash.get("verify.result") match{
                    case Some(msg) =>{
                        <span>@msg</span>
                    }
                    case _ =>{}
                }
            </div>

        </div>
    </div>}
</div>
<script type="text/javascript">
    function sendCode(){
        $.ajax({
            async:false,
            url:"/myaccount/pwdmgt/mailcode",
            type:"POST",
            success: function(result){
                $("#countDown").show();
            }
        });
    }
</script>
}