@()(implicit user: Option[Profile], flash: Flash)

@import helper._
@myAccount(user){

<div class="o-mt">
    <h2>@Messages("myacct.changepwd.title")</h2>
</div>
<div id="step2" class="step step01">
    <ul>
        <li class="fore1">1.验证身份<b></b></li><li class="fore2">2.修改登录密码<b></b></li><li class="fore3">3.完成</li>
    </ul>
</div>
<div class="m m3 safe-sevi04">
    <div class="mc">
        <div class="form">
            <div class="item">
                <span class="label"><em>*</em>新的登录密码：</span>
                <div class="fl">
                    <input type="password" class="text" tabindex="1" name="password" onblur="passwordOnblur();" onfocus="passwordOnfocus('password');" id="password">
                    <div class="clr"></div>
                    <div id="password_error" class="msg-error" style="display: none;"></div>
                    <div class="clr"></div>
                </div>
                <div class="clr"></div>
            </div>

            <div class="item">
                <span class="label"><em>*</em>确认新密码：</span>
                <div class="fl">
                    <input type="password" class="text" tabindex="2" onblur="isSamePassword();" name="rePassword" id="rePassword">
                    <div class="clr"></div>
                    <div id="rePassword_error" class="msg-error" style="display: none;"></div>
                </div>
                <div class="clr"></div>
            </div>

            <div class="item btns">
                <span class="label">&nbsp;</span>
                <div class="fl">
                    <a class="btn btn-7" onclick="updatePassword('68135492','0f888559-e3f2-4809-bb50-633c2db43c65')" href="javascript:void(0);"><s></s>提交</a>
                </div>
                <div class="clr"></div>
            </div>

        </div>
    </div>
</div>
}