@(order: Option[Order])(implicit user:Option[Profile])
@main(Messages("cart.mycart.title"), user, false) {
    <div class="w cart">
        <div class="cart-hd group">
            <h2>@Messages("cart.mycart.title")</h2>
        </div>
        <div id="show">
            <div class="cart-frame">
                <div class="tl"></div>
                <div class="tr"></div>
            </div>
    @order match {
        case Some(ord) if(ord.itemSize > 0) =>{
                    <div class="cart-inner">
                        <div class="cart-thead clearfix">
                            <div class="column t-goods">商品</div>
                            <div class="column t-price">单价</div>
                            <div class="column t-promotion">优惠</div>
                            <div class="column t-quantity">数量</div>
                            <div class="column t-dinnertype">点餐类型</div>
                            <div class="column t-sum">小计</div>
                            <div class="column t-action">操作</div>
                        </div>
                        <div id="product-list" class="cart-tbody">
                            @for(item <- ord.commerceItems){
                            <div id="ci_@item.id" data-bind="rowid:1" class="item item_selected ">
                                <div class="item_form clearfix">
                                    <div class="cell p-goods">
                                        <div class="p-img"><a href="@routes.Browse.productDetail(item.sku.parentProduct.id)?sku=@item.sku.id" target="_blank"><img width="52px" height="52px" src="@util.AppHelper.productImage(item.sku.parentProduct)" alt=" "></a></div>
                                        <div class="p-name"><a href="@routes.Browse.productDetail(item.sku.parentProduct.id)?sku=@item.sku.id"target="_blank">@(item.sku.parentProduct.name + item.sku.name)</a></div>
                                    </div>
                                    <div class="cell p-price"><span class="price">@item.priceInfo.actualPrice</span></div>
                                    <div class="cell p-promotion">
                                        <span class="price">@(item.priceInfo.listPrice - item.priceInfo.actualPrice)</span>
                                    </div>
                                    <div class="cell p-quantity" for-stock="for-stock-853067">
                                        <div class="quantity-form" data-bind="">
                                            <a href="javascript:void(0);" id="dec_@item.sku.id" onclick="decreaseQuantity(this)" class="decrement" id="decrement-853067-1-1">-</a>
                                            <input type="text" id="qty_@item.sku.id" class="quantity-text" value="@item.quantity" id="changeQuantity-853067-1-1-0" onblur="updateQuantity(this.id.substring(4))">
                                            <a href="javascript:void(0);"  id="inc_@item.sku.id" onclick="increaseQuantity(this)" class="increment" clstag="clickcart|keycount|xincart|add1" id="increment-853067-1-1-0">+</a>
                                        </div>
                                    </div>
                                    <div class="cell p-dinnertype"><span class="p-dinnertype">@DinnerType.dinnerTypeMap.get(item.dinnerType)</span></div>
                                    <div class="cell p-sum"><span class="price">@(item.priceInfo.actualPrice * item.quantity)</span></div>
                                    <div class="cell p-remove"><a id="rem_@item.id" class="cart-remove" href="javascript:void(0)" onclick="deleteItem('@item.id')">删除</a>
                                        <!-- modify-pre end  -->
                                    </div>
                                </div>
                            </div>}
                        </div>
                        <div class="cart-toolbar clearfix">
                            <div class="total fr">
                                <p><span id="totalSkuPrice">@ord.priceInfo.listPrice</span>总计：</p>
                                <p><span id="totalRePrice">- ¥@(ord.priceInfo.listPrice - ord.priceInfo.actualPrice)</span>优惠：</p>
                            </div>
                            <div class="amout fr"><span id="selectedCount">@ord.itemSize</span> 件商品</div>
                        </div>
                        <div class="cart-total clearfix">
                            <div class="control fl clearfix">
                                <!--
                                <a href="javascript:void(0);" class="btn gray-btn btn-storage"  clstag="clickcart|keycount|xincart|savecartlink" alt="点击'寄存'后，京东商城将为您保存购物车内的商品，方便您随时随地去结算"  title="点击'寄存'后，京东商城将为您保存购物车内的商品，方便您随时随地去结算"><span class="btn-icon"></span><span class="btn-text">寄存</span></a>
                                <a href="javascript:void(0);" class="btn gray-btn btn-takeout" alt="点击'取出'后，您可取出之前寄存在购物车内的商品" title="点击'取出'后，您可取出之前寄存在购物车内的商品"><span class="btn-icon"></span><span class="btn-text">取出</span></a>
                                -->
                            </div>
                            <div class="total fr"><span id="finalPrice" data-bind="9787.60">¥@ord.priceInfo.actualPrice</span>总计（不含运费）：</div>
                            <!--<div class="delivery fr">本订单已经免运费</div> -->
                        </div>
                    </div>
                    <div class="cart-button clearfix">
                        <a class="checkout" href="@routes.CheckoutController.checkout"  id="toSettlement">去结算<b></b></a>
                    </div>
        <div id="deleteConfirmMessage" style="display: none">
            <span>@Messages("cart.item.delete.message")</span>
        </div>
        <script type="text/javascript">
            function decreaseQuantity(obj){
                var skuId = $(obj).attr("id").substring(4);
                var qty = $("#qty_" + skuId).val();
                var quantityInt = parseInt(qty);
                if(quantityInt > 1){
                    $("#qty_" + skuId).val(quantityInt - 1);
                    updateQuantity(skuId);
                }
            }

            function increaseQuantity(obj){
                var skuId = $(obj).attr("id").substring(4);
                var qty = $("#qty_" + skuId).val();
                var quantityInt = parseInt(qty);
                $("#qty_" + skuId).val(quantityInt + 1);
                updateQuantity(skuId);
            }

            function updateQuantity(skuId){
                location.href = "/cart/update/" + skuId + "/" + $("#qty_" + skuId).val();
            }

            function deleteItem(itemId){
                $('#deleteConfirmMessage').dialog({
                    title: '@Messages("prompt.title")',
                    resizable: false,
                    height:140,
                    modal: true,
                    open:function(event, ui){
                        $(".ui-dialog-titlebar-close", $(this).parent()).hide();
                    },
                    closeOnEscape: false,
                    buttons: {
                        "@Messages("ok.button")": function() {
                            location.href = "/cart/remove/" + itemId;
                        },
                        "@Messages("cancel.button")": function() {
                            $(this).dialog("close");
                        }
                    }
                });
            }
        </script>
        }
        case _ => {
            <div class="cart-inner cart-empty">
                <div class="message">
                    <p>@Html(Messages("cart.empty", "<a href='" + routes.Application.home + "'>去首页</a>"))<!-- ，或<a href="###" class="btn-takeout">取出之前寄存的商品</a> --></p>
                </div>
            </div>
        }
    }
        </div>
    </div>



}