@(order: Order)(implicit user:Option[Profile])
@import helper._
@main(Messages("order.checkout.title"), user, false) {
<script src="@routes.Assets.at("javascripts/area.js")" type="text/javascript"></script>
    <div class="w m2">
        <div id="checkout">
            <div class="mt">
                <h2>填写并核对订单信息</h2>
            </div>
            <div id="wizard" class="checkout-steps">
                <div id="step-1" class="step step-complete">
                    <div class="step-title">
                        <div id="save-consignee-tip" class="step-right">
                        </div>
                        <strong id="consigneeTitleDiv">收货人信息</strong>
                        <span class="step-action" id="consignee_edit_action">
                            <a href="javascript:void(0)" id="consigneeEditBtn" onclick="javascript:modifyConsignee()">[修改]</a>
                            <a href="#none" id="saveConsigneeTitleMinDiv" style="color:#005EA7;" onclick="save_Consignee()">保存收货人信息</a>
                        </span>
                    </div>
                    <div class="step-content">
                        <div id="consignee" class="sbox-wrap">
                            <div class="sbox">
                                @order.shippingAddress match {
                                    case Some(address) =>{
                                        <script type="text/javascript">
                                            $(function(){
                                                $("#consigneeEditBtn").show();
                                                $("#saveConsigneeTitleMinDiv").hide();
                                                $("#consigneeInfoForm").hide();
                                            });
                                        </script>
                                        <div class="s-content">
                                            <p>
                                                @address.contactPerson &nbsp; @address.contactPhone &nbsp; @address.area.get.name  &nbsp;
                                                <br>
                                                @address
                                            </p>
                                        </div>
                                    }
                                    case _ =>{

                                    }
                                }
                                <div id="consigneeInfoForm" class="form" >
                                    <div id="consignee-list" name="consignee-list">
                                        <input type="hidden" id="hidden_consignees_size" value="8">
                                        @for((address, idx) <- user.get.addresses.zipWithIndex){
                                            <div class="item @(if(address.isDefault.isDefined & address.isDefault.get) "item-selected")" id="item_@address.id" index="consignee_@idx">
                                                <!--hidden 隐藏参数 开始 -->
                                                <input type="hidden" id="hidden_consignee_id_@address.id" value="@address.id">
                                                <input type="hidden" id="hidden_consignee_name_@address.id" value="@address.contactPerson">
                                                <input type="hidden" id="hidden_consignee_province_@address.id" value="@address.province">
                                                <input type="hidden" id="hidden_consignee_city_@address.id" value="@address.city">
                                                <input type="hidden" id="hidden_consignee_district_@address.id" value="@address.district">
                                                <input type="hidden" id="hidden_consignee_addressLine_@address.id" value="@address.addressLine">
                                                <input type="hidden" id="hidden_consignee_mobile_@address.id" value="@address.contactPhone">
                                                <input type="hidden" id="hidden_consignee_areaId_@address.id" value="@address.areaId">
                                                <input type="hidden" id="hidden_consignee_areaName_@address.id" value="@address.area.get.name">
                                                <!--hidden 隐藏参数 结束-->
                                                <input type="radio" class="hookbox" name="consignee_radio" id="consignee_radio_@address.id" value="@address.id"  @(if(order.shippingAddress.isDefined && address.id == order.shippingAddress.get.id) "checked") onclick="choseConsignee('@address.id')">
                                                <label for="consignee_radio_@address.id" onclick="chose_Consignee('@address.id')">
                                                    <b>@address.contactPerson</b>&nbsp; @address &nbsp; @address.contactPhone &nbsp;
                                                </label>
                                                 <span class="item-action" style="display: inline;">
                                                   <a href="#none" onclick="showConsigneeDetail()">编辑</a> &nbsp;
                                                      <a href="#none" onclick="deleteConsignee('@address.id')">删除</a>&nbsp;
                                                 </span>
                                            </div>
                                        }

                                    </div>


                                    <!---详细收货人信息表单--->
                                    <div class="item" id="use-new-address"><a name="editConsignee"></a>
                                        <input type="radio" onclick="useNewConsignee()" class="hookbox" name="consignee_radio" id="consignee_radio_new">
                                        <label for="consignee_radio_new">使用新地址 </label>
                                    </div>
                                        @form(routes.CheckoutController.updateShippingGroup, 'id -> "addressForm"){
                                        <div class="consignee-form" id="consignee-form" name="consignee-form" style="padding-left:12px; display:none">
                                            <input type="hidden" name="id" id="id"/>
                                            <input type="hidden" name="areaId" id="areaId"/>
                                            <div class="list" id="name_div">
                                                <span class="label"><em>*</em>@Messages("addr.contactperson.label")</span>
                                                <div class="field">
                                                    <input type="text" class="textbox" id="contactPerson" name="contactPerson" maxlength="20" onblur="check_Consignee('name_div')">
                                                </div>
                                                <span class="status error" id="name_div_error"></span>
                                            </div>
                                            <div class="list select-address" id="area_div">
                                                <span class="label"><em>*</em>所在地区：</span>
                                                <div class="field">
                                                    <span id="span_area">
                                                       <span id="span_province">
                                                            <select id="province" name="province"><option value="sc">@util.AddressInfo.provinceName("sc")</option></select>
                                                       </span>
                                                       <span id="span_city"><select id="city" name="city"><option value="cd">@util.AddressInfo.cityName("cd")</option></select></span>
                                                       <span id="span_county">
                                                           <select id="district" name="district" onchange="loadTowns()">
                                                               @for(dist <- (util.AddressInfo.cityDistrictMap.get("cd").get)){
                                                               <option value="@dist">@util.AddressInfo.distName(dist)</option>
                                                               }
                                                           </select>

                                                       </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="list" id="email_div">
                                                <span class="label"><em></em>@Messages("addr.area.label")</span>
                                                <div class="field">
                                                    <input type="text" class="textbox" id="areaName" name="areaName" maxlength="50" onblur="check_Consignee('email_div')">
                                                    <a class="btn-12" href="#none" id="choosearea" onclick="showAreaTree()"><s></s>@Messages("addr.area.btn")</a>
                                                </div>
                                                <span class="status error" id="email_div_error"></span>
                                            </div>
                                            <div class="list" id="call_div">
                                                <span class="label"><em>*</em>手机号码：</span>
                                                <div class="field">
                                                    <div class="phone">
                                                        <input type="text" class="textbox" id="contactPhone" name="contactPhone" onblur="check_Consignee('call_mobile_div')" maxlength="11" onkeyup="check_Phone('call_mobile_div')">
                                                    </div>
                                                    <span class="status error" id="call_div_error"></span>
                                                </div>
                                            </div>
                                            <div class="list full-address" id="address_div">
                                                <span class="label"><em>*</em>详细地址：</span>
                                                <div class="field">
                                                    <span class="fl selected-address" id="areaNameTxt"></span>
                                                    <input type="text" class="textbox" id="addressLine" name="addressLine" maxlength="50" onblur="check_Consignee('address_div')">
                                                </div>
                                                <span class="status error" id="address_div_error"></span>
                                            </div>
                                        </div>
                                }
                                    <div class="form-btn group">
                                        <a href="#none" class="btn-submit" onclick="saveConsignee()"><span id="saveConsigneeTitleDiv">保存收货人信息</span></a>
                                        <div class="loading loading-1" style="display:none"><b></b>正在提交信息，请等待！</div>
                                    </div>
                                    <div style="display:none"><input id="consignee_form_reset" name="" type="reset"></div>

                                </div>
                            </div>						</div><!--end div#consignee-->
                    </div>
                </div>
                <div id="step-2" class="step step-complete">
                    <a name="payAndShipFocus"></a>
                    <div class="step-title">
                        <div id="save-payAndShip-tip" class="step-right">
                        </div>
                        <strong>支付及配送方式</strong>
                    </div>
                    <div class="step-content">
                        <div id="payment-ship" class="sbox-wrap">
                            <div class="sbox">
                                <div class="s-content payment-info">
                                    <div class="payment-selected">
                                        货到付款
                                        <span class="easyPayWarning"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="step-4" class="step step-complete">
                    <div class="step-title"><a href="@routes.CheckoutController.viewCart()" id="cartRetureUrl" class="return-edit">返回修改购物车</a><strong>商品清单</strong></div>
                    <div class="step-content">
                        <div id="part-order" class="sbox-wrap">
                            <div class="sbox">
                                <div id="order-cart">
                                    <div class="order-review">
                                        <!--商品清单展示-->
                                        <span id="span-skulist">
                                        <table class="review-thead">
                                            <tbody>
                                            <tr>
                                                <td class="fore1">商品</td>
                                                <td class="fore2">价格</td>
                                                <td class="fore3">优惠</td>
                                                <td class="fore4">数量</td>
                                                <td class="fore5">小计</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="review-body">
                                            <div class="review-tbody">
                                                <table class="order-table">
                                                    <tbody>
                                                    @for(item <- order.commerceItems){
                                                    <tr>
                                                        <td class="fore1">
                                                            <div class="p-goods">
                                                                <div class="p-img"><a href="@routes.Browse.productDetail(item.sku.parentProduct.id)" target="_blank"><img alt="" width="52px" height="52px" src="@util.AppHelper.productImage(item.sku.parentProduct)"></a></div>
                                                                <div class="p-detail">
                                                                    <div class="p-name">
                                                                        <a href="@routes.Browse.productDetail(item.sku.parentProduct.id)" target="_blank">
                                                                            @(item.sku.parentProduct.name + item.sku.name)
                                                                        </a>
                                                                    </div>
                                                                    <div class="p-more">商品编号：@item.sku.id
                                                                    <span id="promise_798319" class="promise411">
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="p-price"><strong>@item.priceInfo.actualPrice</strong>
                                                        </td>
                                                        <td class="p-promotion">
                                                        </td>
                                                        <td class="fore2">@item.quantity</td>
                                                        <td class="fore2 p-price" ><strong>@(item.priceInfo.actualPrice * item.quantity)</strong></td>
                                                    </tr>
                                                    }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        </span>
                                        <div class="order-summary">
                                            <div class="statistic fr">
                                                <div class="list">
                                                    <span>
                                                        <em id="span-skuNum">@order.itemSize</em> 件商品，总商品金额：
                                                    </span>
                                                    <em class="price" id="warePriceId" v="62.90">@order.priceInfo.listPrice</em>
                                                </div>
                                                <div class="list"><span>返现：</span><em class="price" id="cachBackId" v="0.00"> -@(order.priceInfo.actualPrice - order.priceInfo.listPrice)</em></div>
                                                <div class="list"><span>应付总额：</span><em id="sumPayPriceId" class="price"> @order.priceInfo.actualPrice</em></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="checkout-floatbar" class="checkout-buttons group"><div class="sticky-placeholder hide" style="display: none;"></div><div class="sticky-wrap">
                            <div class="inner">
                                <style type="text/css">.checkout-buttons .checkout-submit{background-color:#e00;position:relative;line-height:36px;overflow:hidden;color:#fff;font-weight:bold;font-size:16px;}.checkout-buttons .checkout-submit b{position:absolute;left:0;top:0;width:135px;height:36px;background:url(http://misc.360buyimg.com/purchase/trade/skin/i/btn-submit.jpg) no-repeat;cursor:pointer;overflow:hidden;}.checkout-buttons .checkout-submit:hover{background-color:#EF494D;}.checkout-buttons  .checkout-submit:hover b{background-position:0 -36px;}.checkout-buttons .checkout-submit-disabled{background-color:#ccc;position:relative;line-height:36px;font-weight:bold;font-size:16px;cursor:not-allowed;}.checkout-buttons .checkout-submit-disabled b{position:absolute;left:0;top:0;width:135px;height:36px;background:url(http://misc.360buyimg.com/purchase/trade/skin/i/btn-disabled.png) no-repeat;cursor:not-allowed;}</style>
                                <!--input type="submit"  class="checkout-submit" value="" id="order-submit" onclick="javascript:submit_Order();"/-->
                                <button type="submit" class="checkout-submit" id="order-submit" onclick="javascript:submit_Order();">
                                    提交订单
                                    <b></b>
                                </button>
                                <span class="total">应付总额：<strong id="payPriceId">￥62.90</strong>元
                                    <label class="noShowMoney hide" id="giftBuyHidePriceDiv">
                                        <input type="checkbox" id="giftBuyHidePrice" checked="">隐藏礼品价格
                                    </label>
                                </span>
                                <div class="checkout-submit-tip" id="changeAreaAndPrice" style="display: none;">由于地址更换，价格可能发生变化，请核对后再提交订单</div>
                                <div style="display:none" id="factoryShipCodShowDivBottom" class="dispatching">
                                    部分商品货到付款方式：先由京东配送“提货单”并收款，然后厂商发货。
                                </div>
                            </div>
                            <span id="submit_message" style="display:none" class="submit-error"></span>
                            <div class="submit-check-info" id="submit_check_info_message" style="display:none"></div>
                        </div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tree" style="display:none;overflow: hidden">

    </div>
    <div id="deleteAddressConfirm" style="display:none">
        <span>@Messages("order.address.delete.confirm")</span>
    </div>
    <script type="text/javascript">

        function modifyConsignee(){
            $(".s-content").hide();
            $(".form").show();
            var addressId = $("input[type=radio]:checked","#consignee-list").val();
            choseConsignee(addressId);
        }

        function choseConsignee(addressId){
            $(".item").removeClass("item-selected");
            $("#item_" + addressId).addClass("item-selected");
            $("#id").val($("#hidden_consignee_id_" + addressId).val());
            $("#areaId").val($("#hidden_consignee_areaId_" + addressId).val());
            $("#contactPerson").val($("#hidden_consignee_name_" + addressId).val());
            $("#province").val($("#hidden_consignee_province_" + addressId).val());
            $("#city").val($("#hidden_consignee_city_" + addressId).val());
            $("#district").val($("#hidden_consignee_district_" + addressId).val());
            $("#areaName").val($("#hidden_consignee_areaName_" + addressId).val());
            $("#contactPhone").val($("#hidden_consignee_mobile_" + addressId).val());
            $("#addressLine").val($("#hidden_consignee_addressLine_" + addressId).val());
        }

        function showConsigneeDetail(){
            $("#consignee-form").show();
        }

       function useNewConsignee(){
           $("#id").val("");
           $("#areaId").val("");
           $("#contactPerson").val("");
           $("#province").val("");
           $("#city").val("");
           $("#district").val("");
           $("#areaName").val("");
           $("#contactPhone").val("");
           $("#addressLine").val("");
           $("#consignee-form").show();
       }


        function saveConsignee(){
            $("#addressForm").submit();
        }

        function deleteConsignee(addressId){
            $('#deleteAddressConfirm').dialog({
                resizable: false,
                height:140,
                modal: true,
                open:function(event, ui){
                    $(".ui-dialog-titlebar-close", $(this).parent()).hide();
                },
                closeOnEscape: false,
                buttons: {
                    "@Messages("ok.button")": function() {
                        $.ajax({
                            async:false,
                            url:"/order/sg/delete/" + addressId,
                            type:"DELETE",
                            success: function(result){
                                document.location.href = "@routes.CheckoutController.checkout";
                            }
                        });
                        $(this).dialog( "close" );
                    },
                    "@Messages("cancel.button")": function() {
                        $(this).dialog( "close" );
                    }
                }
            });
        }

    </script>
}