@(order: Order)(implicit user:Option[Profile])
@import helper._
@main(Messages("order.thankyou.title"), user, false) {
<div class="w main">
    <div class="m m3 msop">
        <div class="mt" id="success_tittle"><h3 class="ftx-02">感谢您，订单提交成功！</h3>
        </div>
        <div class="mc" id="success_detail">
            <input type="hidden" id="loadSuccessFlag" value="ok"><!-- 加載成功標識  -->
            <input type="hidden" id="skuIds" value="206805"><!-- 商品id串  -->
            <ul class="list-order">
                <li class="li-st">
                    <div class="fore1">订单号：<a href="@routes.ProfileController.orderDetail(order.id)">@order.id</a></div>
                    <!-- 货到付款 -->
                    <div class="fore2">货到付款：<strong class="ftx-01">@(order.priceInfo.actualPrice)元</strong></div>
                </li>
            </ul>
            <!-- 在线支付按钮  -->
            <div id="bookDiv"></div>
            <p class="i-tips01">
                您的订单已经在处理中，我们将尽快为您安排送货
            </p>
        </div>
    </div>
    <div class="o-mb">完成支付后，您可以：
        <a href="@routes.ProfileController.orderDetail(order.id)">查看订单状态</a>&nbsp;&nbsp;<a href="@routes.Application.index">继续购物</a></div>
</div>
}