@(title: String, user:Option[InternalUser])(content: Html)

<!DOCTYPE html>

<html>
<head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/base.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/layout.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/ui.dynatree.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui.min.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.cookie.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.dynatree.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.ui.datepicker-zh-CN.js")" type="text/javascript"></script>
</head>
<body class="column_3">
<div id="wrapper">
    <section id="topSection">
        @admintopbar(user)
        <h1 id="store_logo" title="YuXia">
            <a href="@routes.Application.index"></a>
        </h1>
    </section>
    <section id="mainSection">
        <div class="w main">
            <div id="accountMenu" class="left">
                <div class="mt">
                    <h2><a href="#">@Messages("admin.menu.label")</a></h2>
                </div>
                <div class="mc">
                    <dl tag="1" class="">
                        <dt tag="1">@Messages("admin.account.label")<b></b></dt>
                        <dd style="display: block;">
                            <div class="item"><a href="@routes.InternalManagement.home" tag="102">@Messages("merch.account.label")</a></div>
                            <div class="item"><a href="@routes.InternalManagement.areaList" tag="102">@Messages("admin.area.menu")</a></div>
                            <div class="item"><a href="@routes.InternalManagement.promoBannerList" tag="102">@Messages("admin.promobanner.title")</a></div>
                            <div id="_MYJD_ordercenter" class="item"><a href="http://jd2008.jd.com/JdHome/OrderList.aspx?jdhome=myjd" tag="101">@Messages("admin.category.menu")</a></div>
                        </dd>
                    </dl>
                </div>
            </div>
            <div id="accountContent" class="right">
                @content
            </div>
        </div>
    </section>
    <section id="btmSection">
        <p>Footer</p>
    </section>
</div>
</body>
</html>
