@(areaList: List[Area], areaForm: Form[Area])(implicit user: Option[InternalUser])

@import helper._
@adminbase(Messages("admin.area.menu"), user){
<script type="text/javascript">
    function showAreaPopup(){
        $("#areaForm").dialog({
            title: "@Messages("area.mgt.title")",
            width: 760,
            height: 400,
            modal:true,
            buttons:{"@Messages("ok.button")": function(){
                $('form').submit();
                $(this).dialog("close");
            },
            "@Messages("cancel.button")": function() {
                $('#id').val("");
                $('#parentAreaId').val("");
                $('#name').val("");
                $('#parentAreaName').val("");
                $('#detail').val("");
                $(this).dialog( "close" );
            }}
        })
    }


    $(function(){
        // --- Initialize sample trees
        $("#tree").dynatree({
            title: "Lazy loading sample",
            checkbox:true,
            selectMode:1,
            fx: { height: "toggle", duration: 200 },
            autoFocus: false,

            onSelect: function(select, node) {
            // Display list of selected nodes
            var selNodes = node.tree.getSelectedNodes();
            // convert to title/key array
            var selKeys = $.map(selNodes, function(node){
                return node.data.key;
            });
            var selTitle = $.map(selNodes, function(node){
                return node.data.title;
            });
            $("#parentAreaName").val(selTitle.join(","));
            $("#parentAreaId").val(selKeys.join(";"));
            },

            initAjax: {
            url: "@routes.Addresses.initAreaTrees",
            data: { mode: "funnyMode" }
            },

            onActivate: function(node) {
            $("#echoActive").text("" + node + " (" + node.getKeyPath()+ ")");
            },

            onLazyRead: function(node){
                node.appendAjax({
                    url: "/area/child/" + node.data.key,
                    data: {key: node.data.key, mode: "funnyMode"}
                });
            }
        });

        @if(areaForm.hasErrors){
            showAreaPopup();
        }
    });

    function showAreaTree(){
        $("#tree").dialog({
            title: "@Messages("area.pickparent.title")",
            width: 760,
            height: 400,
            modal:true,
            buttons:{"@Messages("ok.button")": function(){
                $(this).dialog("close");
            },
            "@Messages("cancel.button")": function() {
                $(this).dialog( "close" );
            }}
        })

    }

    function confirmDeleteArea(element){
        var areaId = element.attr("id").substr(7);
        $('#divconfirm'+areaId).dialog({
            resizable: false,
            height:140,
            modal: true,
            open:function(event, ui){
                $(".ui-dialog-titlebar-close", $(this).parent()).hide();
            },
            closeOnEscape: false,
            buttons: {
            "@Messages("ok.button")": function() {
                $.ajax({
                    async:false,
                    url:"/area/delete/" + areaId,
                    type:"DELETE",
                    success: function(result){
                        document.location.href = "@routes.InternalManagement.areaList()";
                    }
                });
                $(this).dialog( "close" );
            },
            "@Messages("cancel.button")": function() {
                $(this).dialog( "close" );
            }
            }
        });
    }

    function modifyPopup(element){
        var areaId = element.attr("id").substr(7);
        $('#id').val(areaId);
        $('#parentAreaId').val($('#parentId'+areaId).text());
        $('#name').val($('#name' + areaId).text());
        $('#parentAreaName').val($('#parent' + areaId).text());
        $('#detail').val($('#detail' + areaId).text());
        showAreaPopup();
    }
</script>

<div class="o-mt">
    <h2>@Messages("admin.area.menu")</h2>
</div>
<div id="areaForm" class="thickbox" style="display: none">
    <div class="thickcon" >
        <div class="mc">
            @form(routes.InternalManagement.modifyArea){
            <input type="hidden" name="id" id="id"/>
            <input type="hidden" name="parentAreaId" id="parentAreaId"/>
            <div class="form" id="consigneePanel">
                <div class="item">
                    <span class="label"><em>*</em>@Messages("area.name.label")</span>
                    <div class="fl">
                        <input id="name" name="name" type="text" class="text" value="@areaForm.data.get("name")" maxlength="20">
                        @if(areaForm.error("name").isDefined){
                            <div class="prompt-error"><span id="petName_msg">@Messages(areaForm.error("name").get.message)</span></div>
                        }
                    </div>
                    <div class="clr"></div>
                </div>
                <div class="item">
                    <span class="label">@Messages("area.parent.label")</span>
                    <div class="fl">
                        <input id="parentAreaName" name="parentAreaName" type="text" value="" readonly class="text text1" maxlength="50">
                        <a class="btn-12" href="#none" id="choosearea" onclick="showAreaTree()"><s></s>选择区域</a>
                    </div>
                    <div class="clr">
                    </div>
                </div>
                <div class="item">
                    <span class="label"><em>*</em>@Messages("area.detail.label")</span>
                    <div class="fl">
                        <textarea id="detail" name="detail" class="area" maxlength="50">@areaForm.data.get("detail")</textarea>
                        @if(areaForm.error("detail").isDefined){
                            <div class="prompt-error"><span id="petName_msg">@Messages(areaForm.error("detail").get.message)</span></div>
                        }
                    </div>
                    <div class="clr">
                    </div>
                </div>

            </div>
            }
        </div>
        <div id="tree" style="display:none;overflow: hidden">

        </div>
    </div>
</div>
<div class="o-m">
    <div class="o-mb">
        <h3> <a href="#none" class="btn-6" onclick="showAreaPopup()"><s></s>新 增</a></h3>
    </div>
    @for(area <- areaList){
    <div class="o-mc">
        <div class="m m4" id="divarea@area.id">
            <div class="mt">
                <h3 id="name@area.id">@area.name</h3>
                <div class="extra">
                    <a class="btn-12" href="#none" id="modarea@area.id" onclick="modifyPopup($(this))"><s></s>修改</a>
                    <a class="btn-12 del" href="#none" id="delarea@area.id" onclick="confirmDeleteArea($(this))"><s></s>删除</a>
                    <div id="divconfirm@area.id" style="display:none">
                            <span>您确定删除区域@area.name吗？</span>
                    </div>
                </div>
            </div>
            <div class="tb-0">
                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tbody><tr>
                        <th>详细说明：</th>
                        <td width="330" id="detail@area.id">@area.detail</td>
                        <th>&nbsp;</th>
                        <td>&nbsp;</td>
                    </tr>
                    </tbody>
                    <tbody><tr>
                        <th>所属区域：</th>
                        <td width="330" id="parent@area.id">@(if(area.parentArea.isDefined) area.parentArea.get.name)</td>
                        <th>&nbsp;</th>
                        <td>&nbsp;</td>
                    </tr>
                    <span style="display:none" id="parentId@area.id">@area.parentAreaId</span>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mc">
        </div>
    </div>  }
</div>

}