@(catList: List[Category], catForm: Form[vo.CategoryVo])(implicit user: Option[InternalUser])

@import helper._
@adminbase(Messages("admin.area.menu"), user){
<script type="text/javascript">
    function showCategoryPopup(){
        $("#popForm").dialog({
            title: "@Messages("cat.mgt.title")",
                width: 760,
                height: 400,
                modal:true,
                buttons:{"@Messages("ok.button")": function(){
            $('form').submit();
            $(this).dialog("close");
        },
            "@Messages("cancel.button")": function() {
                $('#id').val("");
                $('#parentId').val("");
                $('#name').val("");
                $('#description').val("");
                $('#longDescription').val("");
                $('#parentCatName').val("");
                $(this).dialog( "close" );
            }}
    })
    }


    $(function(){
        // --- Initialize sample trees
        $("#tree").dynatree({
            title: "Category Tree",
            checkbox:true,
            selectMode:1,
            fx: { height: "toggle", duration: 200 },
            autoFocus: false,

            onSelect: function(select, node) {
                // Display list of selected nodes
                var selNodes = node.tree.getSelectedNodes();
                // convert to title/key array
                var selKeys = $.map(selNodes, function(node){
                    return node.data.key;
                });
                var selTitle = $.map(selNodes, function(node){
                    return node.data.title;
                });
                $("#parentCatName").val(selTitle.join(","));
                $("#parentId").val(selKeys.join(";"));
            },

            initAjax: {
                url: "@routes.Products.initCategoryTree",
                data: { mode: "funnyMode" }
            },

            onActivate: function(node) {
                $("#echoActive").text("" + node + " (" + node.getKeyPath()+ ")");
            },

            onLazyRead: function(node){
                node.appendAjax({
                    url: "/merch/prod/childCat/" + node.data.key,
                    data: {key: node.data.key, mode: "funnyMode"}
                });
            }
        });


    });

    function showCategoryTree(){
        $("#tree").dialog({
            title: "@Messages("area.pickparent.title")",
                width: 760,
                height: 400,
                modal:true,
                buttons:{"@Messages("ok.button")": function(){
            $(this).dialog("close");
        },
            "@Messages("cancel.button")": function() {
                $(this).dialog( "close" );
            }}
    })
    }

    function confirmDeleteCategory(element){
        var areaId = element.attr("id").substr(7);
        $('#divconfirm'+areaId).dialog({
            resizable: false,
            height:140,
            modal: true,
            open:function(event, ui){
                $(".ui-dialog-titlebar-close", $(this).parent()).hide();
            },
            closeOnEscape: false,
            buttons: {
                "@Messages("ok.button")": function() {
                    $.ajax({
                        async:false,
                        url:"/area/delete/" + areaId,
                        type:"DELETE",
                        success: function(result){
                            document.location.href = "@routes.InternalManagement.areaList()";
                        }
                    });
                    $(this).dialog( "close" );
                },
                "@Messages("cancel.button")": function() {
                    $(this).dialog( "close" );
                }
            }
        });
    }

    function modifyPopup(element){
        var catId = element.attr("id").substr(6);
        $('#id').val(catId);
        $('#parentId').val($('#parentId'+catId).text());
        $('#name').val($('#name' + catId).text());
        $('#parentCatName').val($('#parent' + catId).text());
        $('#description').val($('#detail' + catId).text());
        $('#longDescription').val($('#longDesc' + catId).text());
        console.log("isTopNav :" + $('#isTopNav' + catId).attr("value"))
        if($('#isTopNav' + catId).attr("value") == "true"){
            console.log("HERE COOL");
            //$('#isTopNav').attr("checked", true)
            document.getElementById("isTopNav").checked=true
            console.log("checked is:" + document.getElementById("isTopNav").checked )
        } else {
            //$('#isTopNav').attr("checked", false)
            document.getElementById("isTopNav").checked=false
        }
        showCategoryPopup();
    }
</script>

<div class="o-mt">
    <h2>@Messages("admin.category.menu")</h2>
</div>
<div id="popForm" class="thickbox" style="display: none">
    <div class="thickcon" >
        <div class="mc">
            @form(routes.InternalManagement.createCategory){
            <input type="hidden" name="id" id="id"/>
            <input type="hidden" name="parentId" id="parentId"/>
            <div class="form" id="categoryPanel">
                <div class="item">
                    <span class="label"><em>*</em>@Messages("cat.name.label")</span>
                    <div class="fl">
                        <input id="name" name="name" type="text" class="text" value="@catForm.data.get("name")" maxlength="20">
                        @if(catForm.error("name").isDefined){
                        <div class="prompt-error"><span id="petName_msg">@Messages(catForm.error("name").get.message)</span></div>
                        }
                    </div>
                    <div class="clr"></div>
                </div>
                <div class="item">
                    <span class="label"><em>*</em>@Messages("cat.isTopNav.label")</span>
                    <div class="fl">
                        <input id="isTopNav" name="isTopNav" type="checkbox" value="true" maxlength="20">
                        @if(catForm.error("isTopNav").isDefined){
                        <div class="prompt-error"><span id="petName_msg">@Messages(catForm.error("name").get.message)</span></div>
                        }
                    </div>
                    <div class="clr"></div>
                </div>
                <div class="item">
                    <span class="label">@Messages("cat.parent.label")</span>
                    <div class="fl">
                        <input id="parentCatName" name="parentCatName" type="text" value="" readonly class="text text1" maxlength="50">
                        <a class="btn-12" href="#none" id="choosearea" onclick="showCategoryTree()"><s></s>@Messages("cat.parent.btn")</a>
                    </div>
                    <div class="clr">
                    </div>
                </div>
                <div class="item">
                    <span class="label"><em>*</em>@Messages("cat.description.label")</span>
                    <div class="fl">
                        <input id="description" name="description" type="text" class="text" value="@catForm.data.get("description")" maxlength="20">
                        @if(catForm.error("description").isDefined){
                        <div class="prompt-error"><span id="petName_msg">@Messages(catForm.error("description").get.message)</span></div>
                        }
                    </div>
                    <div class="clr"></div>
                </div>
                <div class="item">
                    <span class="label"><em>*</em>@Messages("cat.longDescription.label")</span>
                    <div class="fl">
                        <textarea id="longDescription" name="longDescription" class="area" maxlength="50">@catForm.data.get("longDescription")</textarea>
                        @if(catForm.error("longDescription").isDefined){
                        <div class="prompt-error"><span id="petName_msg">@Messages(catForm.error("longDescription").get.message)</span></div>
                        }
                    </div>
                    <div class="clr">
                    </div>
                </div>

            </div>
            }
        </div>
        <div id="tree" style="display:none;overflow: hidden">

        </div>
    </div>
</div>
<div class="o-m">
    <div class="o-mb">
        <h3> <a href="#none" class="btn-6" onclick="showCategoryPopup()"><s></s>@Messages("cat.new.btn")</a></h3>
    </div>
    @for(category <- catList){
    <div class="o-mc">
        <div class="m m4" id="divcat@category.id">
            <div class="mt">
                <h3 id="name@category.id">@category.name</h3>
                <div class="extra">
                    <a class="btn-12" href="#none" id="modcat@category.id" onclick="modifyPopup($(this))"><s></s>@Messages("area.update.btn")</a>
                    <a class="btn-12 del" href="#none" id="delcat@category.id" onclick="confirmDeleteCategory($(this))"><s></s>@Messages("area.delete.btn")</a>
                    <div id="divconfirm@category.id" style="display:none">
                        <span>@Messages("cat.delete.cfmsg", category.name)</span>
                    </div>
                </div>
            </div>
            <div class="tb-0">
                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tbody><tr>
                        <th>@Messages("cat.description.label")</th>
                        <td width="330" id="detail@category.id">@category.description</td>
                        <th>&nbsp;</th>
                        <td>&nbsp;</td>
                    </tr>
                    </tbody>
                    <tbody><tr>
                        <th>@Messages("cat.longDescription.label")</th>
                        <td width="330" id="longDesc@category.id">@category.longDescription</td>
                        <th>&nbsp;</th>
                        <td>&nbsp;</td>
                    </tr>
                    </tbody>
                    <tbody><tr>
                        <th>@Messages("cat.isTopNav.label")</th>
                        <td width="330" id="isTopNav@category.id" value="@category.isTopNav">@(if(category.isTopNav) "是" else "否")</td>
                        <th>&nbsp;</th>
                        <td>&nbsp;</td>
                    </tr>
                    </tbody>
                    <tbody><tr>
                        <th>@Messages("cat.parent.label")</th>
                        <td width="330" id="parent@category.id">@(if(category.parentCategory.isDefined) category.parentCategory.get.name)</td>
                        <th>&nbsp;</th>
                        <td>&nbsp;</td>
                    </tr>
                    <span style="display:none" id="parentId@category.id">@(if(category.parentCategory.isDefined) category.parentCategory.get.id)</span>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mc">
        </div>
    </div>  }
</div>

}