/**********************************************************************************************

Title: ACRS
Date: August 2012

***********************************************************************************************

1. Reset
1.1 Basic Form

2. Global Stucture
2.1 Templete Layout
	2.1.1 1-Column Layout
	2.1.2 2-Column Left Layout
	2.1.3 2-Column Right Layout
	2.1.4 3-Column Layout
2.2 Wrapper and Page Container
2.3 Top Section
	2.3.1 Keywords
	2.3.2 breadcrumb
2.4 Bottom Section
2.5 Main Navigation and Drop Down Menu Functionality

3. Clear Float

**********************************************************************************************

1. Reset                                                                                    
============================================================================================*/
body{
    font: 12px/150% Arial,Verdana,"\5b8b\4f53";
    color: #333;
	height: 100%;
    background: #fff;
	-webkit-text-size-adjust: none; /* fixed Chrome browse */
	-webkit-font-size: 1.1em; /* fixed Chrome browse */
}

*{ 
	margin: 0;
	padding: 0;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,img{ 
	border: 0;
}

address,caption,cite,code,dfn,em,th,var,small{
	font-style: normal; 
	font-weight: normal;
}

ol,ul,li{
	list-style: none;
}

caption,th{
	text-align: left;
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}

q:before,q:after{
	content: '';
}

abbr,acronym{ 
	border: 0;
}

a{
	text-decoration: none;
	cursor: pointer;
}

iframe{
	border: none;
}

b,strong,.bold{
	font-weight: 700;
}

p{
	line-height: 1.3em;
}

ul > li, dl > dt, dl > dd{
	float: left;
}

dl > dt + dd{
	margin-left: 5px;
}

small{
	font-size: 0.9em;
}

fieldset > dl{
	width: 100%;
	display: block;
}

/* 1.1  Basic Form
----------------------------------------------------------*/
label{
	display: block;
}

select, input, textarea{
    font-size: 1em;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

@-moz-document url-prefix(){
	select, input, textarea{
		font-family: "Helvetica";
	}
}

/* Fix Mac CSS hank
select:focus, input:focus{
	background: #fff url(bg_white.gif) repeat 0 0;
	outline: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}*/

select, input[type="text"], input[type="password"], textarea{
	border: 1px solid #a5acb2;
}

input[type="text"], input[type="password"]{
	padding: 0 3px;
}

textarea{
	padding: 3px;
}

input[name="button"]{
	border: 0;
	cursor: pointer;
}

/* form */
fieldset > dl + dl{
	margin-top: 10px;
}

fieldset > dl > dt{
	width: 140px;
	font-weight: 700;
}

.require:before{
	content: "*";
	color: #db071d;
	margin-right: 3px;
	font-weight: 400;
	font-family: "Verdana";
	position: relative;
	top: 2px;
}

fieldset .textInput{
	width: 220px;
}

fieldset .textInput.short{
	width: 135px;
}

fieldset .select{
	width: 228px;
}

fieldset .select.month{
	width: 145px;
}

fieldset .select.year{
	width: 80px;
}

fieldset > dl.buttonBox{
	border-top: 1px dashed #c5c5c5;
	padding-top: 15px;
	margin-top: 40px;
}

fieldset > dl.buttonBox > dd{
	float: right;
}

fieldset > dl input{
	vertical-align:middle;
}

fieldset > dl input[type="checkbox"], fieldset > dl input[type="radio"]{
	margin-right: 5px;
}

fieldset > dl .error{
	margin-top: 5px;
	width: 216px;
}


/* 2. Global Structure
============================================================================================*/
#wrapper > div{
	float: left;
}

#wrapper > .content + .aside{
	float: right;
}

.aside{
	width: 165px;
	min-height: 1px;
}

#mainSection{
	display: -webkit-box;
	display: -moz-box;
	display: box;
	box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-box-orient: horizontal;
}

.content{
	width: 1210px;
	min-height: 500px;
}

/* 2.1 Templete Layout
----------------------------------------------------------*/
/* 2.1.1 1-Column Layout */
.column_1 .aside{
	display: none;
}

.column_1 .content{
	width: 100%;
}

/* 
	2.1.2 2-Column Left Layout
*/
.columnL_2 .content{
	padding-left: 10px;
	width: 749px;
}

.columnL_2 .content + .aside{
	display: none;
}

/* 
	2.1.3 2-Column Right Layout
*/
.columnR_2 .aside{
	display: none;
}

.columnR_2 .content{
	padding-right: 10px;
	width: 749px;
}

.columnR_2 .content + .aside{
	display: block;
}

/* 2.1.4 3-Column Layout */
.column_3 .content {

}

/* 2.2  Wrapper and Page Container
----------------------------------------------------------*/
#wrapper{
	width: 924px;
	margin: 0 auto;
	padding: 0 16px;

}

#topSection > div + div, .aside > div + div, .aside > div + a, .aside > a + div, .aside > a + a, #btmSection > div + div{
	margin-top: 15px;
}

.content > div + div{
	margin-top: 20px;
}

/* 2.3 Top Section
----------------------------------------------------------*/

.logo a{
	display: inline-block;
}

/* 2.3.1 Keywords */
.keywords{
	display: none;
}

/* Logo */
#store_logo{
  width: 175px;
  height: 58px;
  margin:17px 0 0 22px;
}
#store_logo a{
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
  overflow:hidden; /* Removes 'excess' focus area caused by text-indent*/
  background:url(/assets/images/logo.jpg) no-repeat scroll left top;
}

/* Store Search */
#store_search{
  margin-left:0;
  margin-top:10px;
}
.store_searchInput{
  margin: 20px 0 0 20px;
}
#store_search #store_searchStoreSelect{
  margin-left:20px;
}
#store_search span.store_smallButton input#store_searchSubmit:hover{
  background:url(/crsdocroot/content/images/atghome/search_button.png) no-repeat scroll right bottom transparent;
}


#topSection .searchBox{
	position: absolute;
	right: 190px;
	top: 0;
	margin-top: 0;
	width: 200px;
}

.searchForm > .textInput{
	width: 200px;
	padding-right: 30px;
}

.searchForm .btn_search{
	color: #828282;
	background: transparent;
	border: 0;
	padding: 0;
	position: absolute;
	right: 3px;
	top: 4px;
}

/* 2. Keywords
============================================================================================*/
.keywords{
	position: absolute;
	z-index: 1700;
	width: 200px;
	border: 1px solid #d5d5d5;
	background: #fff;
	margin-top: 1px;
	padding-bottom: 10px;
	display: none;
}

.keywords > strong{
	display: block;
	line-height: 26px;
	background: #ff4949;
	color: #fff;
	padding: 0 10px;
}

.keywords ul > li,
.keywords ul > li > a{
	width: 100%;
	line-height: 26px;
	padding: 0 10px;
	color: #828282;
	display: inline-block;
}


.keywords ul > li:hover{
	background: #ff4949;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	cursor: pointer;
}

.keywords b{color: #323232;}

.keywords ul > li:hover > a, .keywords ul > li:hover > a b{color: #fff;}

/**--Account Navigation**/
/* 2.3.2 Account Navigation */
.acctNav{float: right;}

.acctNav li{
	float: none;
	display: inline-block;
}

.acctNav li + li:before{
	content: '|';
	padding: 0 5px;
}

.acctNav .welcome, .acctNav a{font-size: 12px;}

.acctNav a:hover{text-decoration: underline;}

.acctNav .welcome{color: #828282;}

.acctNav .customerName{
	font-family: webFont;
	font-weight: 700;
	padding: 0 5px;
	color: #ff4949;
}

.acctNav .welcome a{
	text-decoration: underline;
	color: #ff4949;
}



/**----MiniCart---**/
.miniCart{
	position: absolute;
	z-index: 1600;
	top: 20px;
	right: 0;
	width: 300px;
	background: #fff;
	border: 1px solid #acacac;
	padding-bottom: 15px;
	text-align: left;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
}

.cartBox > ul > li:hover > a + .miniCart{
	opacity: 1;
	visibility: visible;
}

.miniCart > *{margin: 15px 15px 0;}

.miniCart > .miniCartTitle{
	border-top: 4px solid #acacac;
	border-bottom: 1px solid #efefef;
	margin: 1px 0 0;
	padding: 10px 15px;
	font-size: 14px;
	font-family: webFont;
	text-transform: uppercase;
	background: url(/acs/static/acs/image/common/patterns/pattern3.png) repeat 0 0;
}

.miniCart > .miniCartList{
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}

.miniCart .cartItem{padding: 10px 0;}

.miniCart .cartItem + .cartItem{border-top: 1px solid #efefef;}

.miniCart > .subTotal{
	font-size: 14px;
	text-align: right;
	margin-top: 30px;
}

.miniCart > .subTotal > *{
	float: none;
	display: inline-block;
}

.miniCart > .subTotal > dt{color: #828282;}

/* 2.2 Mini Cart Item
----------------------------------------------------------*/
.miniCartList .imgBox{margin-right: 10px;}

.miniCartList .imgBox > a{
	display: block;
	width: 50px;
	height: 50px;
}

.miniCartList .imgBox > a img{
	width: 50px;
	height: 50px;
	display: block;
}

.miniCartList .infoBox{float: none;}

.miniCartList .infoBox > p{display: inline-block;}

.miniCartList .qty{
	color: #828282;
	margin-left: 5px;
}

/* 2.3 mini Cart Empty
----------------------------------------------------------*/
.miniCart .empty{
	border-top: 5px solid #acacac;
	margin: 1px 0 0;
	padding: 30px 20px;
	font-size: 12px;
	text-align: center;
}

/* 2.4  Bottom Section
----------------------------------------------------------*/
#footer{
	position: relative;
}

/* 2.5 Main Navigation and Drop Down Menu Functionality
----------------------------------------------------------*/
.J_dropdown > li > div{
	position: absolute;
	z-index: 50;
	display: none;
}

.J_dropdown > li:hover > a + div{
	display: block;
} 

/* 4. Clear Float                                                                                    
============================================================================================*/
#wrapper:after,
#aside:after,
#content:after,
dl:after,
.colorBox:after,
.sizeBox:after,
ul:after,
.pop_connectAccount:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* own css
======================*/
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
}

/** top bar **/
#topbar {
    width: 100%;
    border-bottom: 1px solid #eee;
    line-height: 30px;
}

#topbar .w {
    height: 30px;
    background: #F7F7F7;
}

#topbar .fl {
    overflow: visible;
}

#topbar .fl .fore1 {
    padding-left: 16px;
    z-index: 1;
}

#topbar li{
    height: 30px;
    padding: 0 11px 0 12px;
}

#topbar .fore2{
    border-left:1px solid #E5E5E5;
}

.fr {
    float: right;
}

.lh {
    overflow: hidden;
    zoom: 1;
}

.lh li, .lh dl, .lh .item {
    float: left;
}

.ld {
    position: relative;
    zoom: 1;
}

.fl {
    float: left;
}

/**header style**/

.btn-img, .button {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    cursor: pointer;
}

#header-2013 {
    height: 60px;
    padding: 15px 0;
}

#logo-2013 {
    float: left;
    width: 330px;
}

#search-2013 {
    width: 510px;
    float: left;
    padding: 4px 126px 0 0;
}

#search-2013 .i-search {
    z-index: 11;
    width: 494px;
    height: 30px;
    margin-bottom: 3px;
    border: 3px solid #E4393C;
}

#search-2013 #shelper {
    overflow: hidden;
    position: absolute;
    top: 32px;
    left: -3px;
    width: 418px;
    border: 1px solid #E4393C;
    background: #fff;
    -moz-box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 5px #999;
}

#search-2013 .form {
    height: 30px;
    overflow: hidden;
}

#search-2013 .text {
    width: 406px;
    height: 20px;
    padding: 5px;
    background-position: 0 -360px;
    background-color: #fff;
    background-repeat: repeat-x;
    line-height: 20px;
    color: #999;
    font-family: arial,"\5b8b\4f53";
    font-size: 14px;
    margin: 0;
    border: 0;
}

#search-2013 input {
    margin: 0;
    padding: 0;
    height: 30px;
    border: 0;
}

#search-2013 .button {
    width: 78px;
    background: #E4393C;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}

.form label, .form input, .form select, .form textarea, .form button, .form .label {
 float: left;
 font-size: 12px;
}

select, input, textarea {
    font-size: 1em;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.hide {
    display: none;
}

#myaccount{
    float: left;
    position: relative;
    z-index: 9;
    width: 106px;
    height: 30px;
    margin-top: 12px;
}

#myaccount dt {
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 30px;
    padding: 0 24px 0 30px;
    border: 1px solid #EFEFEF;
    background-position: -116px -24px;
    background-color: #F7F7F7;
    text-align: center;
    line-height: 27px;
    cursor: pointer;
}

#myaccount dt, #myaccount dl.hover dt {
    background-image: url(/assets/images/20130330A_1.png);
    background-repeat: no-repeat;
}

#myaccount dt b {
    top: 12px;
    right: 8px;
    width: 0;
    height: 0;
    border-style: solid dashed dashed;
    border-width: 5px;
    border-color: #CCC transparent transparent;
    overflow: hidden;
}

.ld s, .ld b, .ld .block {
    position: absolute;
    overflow: hidden;
}

a:link, a:visited {
    color: #666;
    text-decoration: none;
}

#settleup-2013 {
    float: right;
    position: relative;
    z-index: 9;
    width: 126px;
    height: 30px;
    margin-top: 12px;
}

#settleup-2013 dt {
    position: absolute;
    z-index: 3;
    width: 74px;
    height: 30px;
    padding: 0 20px 0 30px;
    border: 1px solid #EFEFEF;
    background-position: -115px -84px;
    background-color: #F7F7F7;
    cursor: pointer;
    text-align: center;
}

#settleup-2013 dt .shopping {
    position: absolute;
    top: -13px;
    left: 20px;
    background-image: url(/assets/images/20130330A_1.png);
    background-position: -133px -279px;
    padding-left: 6px;
    color: #fff;

}

#settleup-2013 dt .shopping span {
    float: left;
    display: block;
    height: 20px;
    padding-right: 6px;
    background-image: url(/assets/images/20130330A_1.png);
    background-position: 100% -250px;
}

#settleup-2013 dt, #settleup-2013 dl.hover dt, #settleup-2013 .nogoods b {
    background-image: url(/assets/images/20130330A_1.png);
    background-repeat: no-repeat;
}

#settleup-2013 dt a {
    line-height: 27px;
}
/** pdp **/
.sku_template {
    display: none;
}

.validateTips {
    border: 1px solid transparent; padding: 0.3em;
}

table th {
    border: 1px solid #EEEEEE;
    padding: 0.6em 10px;
    text-align: left;
}

.breadcrumb {
    height: 20px;
    padding: 0 0 4px 6px;
    margin-bottom: 10px;
    overflow: hidden;
    line-height: 20px;
    vertical-align: baseline;
}

#preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 352px;
}

#product-intro {
    position: relative;
    z-index: 1;
    min-height: 474px;
    height: auto!important;
    height: 474px;
}

#product-intro .dt {
    float: left;
    width: 72px;
    text-align: left;
}

#product-intro .dd {
    width: 524px;
    float: left;
}

#product-name {
    padding-bottom: 10px;
    border-bottom: 1px dotted #ccc;
    padding-left: 370px;
    zoom: 1;
}

#product-summary {
    width: 600px;
    float: left;
    padding: 10px;
    padding-left: 370px;
}

#summary-price {
    height: 18px;
    overflow: hidden;
}

#summary-price .p-price {
    color: #e4393c;
    font-size: 18px;
}

#summary-price .dd {
    line-height: 12px;
}

#product-summary .dt {
    font-family: simsun;
}

#choose {
    border-top: 1px dotted #ddd;
    padding-top: 10px;
    padding-left: 370px;
    float: left;
    margin-bottom: 20px;
}

#choose .item {
    float: left;
    margin: 2px 8px 2px 0;
}

#choose .selected {
    position: relative;
    zoom: 1;
}

#choose-qty .wrap-input {
    position: relative;
}

#choose-qty .btn-reduce {
    left: 0;
    background-position: -216px -190px;
}

#choose-qty .btn-add {
    right: 0;
    background-position: -232px -190px;
}

#choose-qty .text {
    width: 30px;
    height: 16px;
    border: 1px solid #ccc;
    padding: 2px;
    text-align: center;
}

#preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 352px;
}

#heroimg{
    width: 350px;
    height: 350px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}

ol, ul {
list-style: none;
}

.left {
    float: left;
    width: 210px;
}

.right-extra {
    width: 990px;
    float: right;
}

#filter {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    background: #F7F7F7;
    box-shadow: 0 1px 1px rgba(0,0,0,0.02);
}

#filter .fore1 {
    overflow: hidden;
    height: 26px;
    padding: 5px 8px;
    border-bottom: 1px solid #E7E3E7;
    zoom: 1;
}

#filter dl, #filter dt, #filter dd {
    float: left;
    line-height: 26px;
    zoom: 1;
}

#filter .order .curr {
    border: 1px solid #E4393C;
    background: #E4393C;
    font-weight: bold;
}

#filter .order dd {
    height: 24px;
    border: 1px solid #CECBCE;
    background-position: 0 -73px;
    background-repeat: repeat-x;
    background-color: #fff;
    margin-right: 5px;
    line-height: 24px;
    overflow: hidden;
    zoom: 1;
}

#filter .pagin{
    float: right;
    height: 22px;
    padding: 2px 0;
    border-left: 1px solid #fff;
}

.pagin .text, .pagin .current {
    font-family: verdana;
}

.pagin .text, .pagin .current {
    border: 0;
    padding: 4px 11px;
}

.pagin a, .pagin span {
    border-radius: 3px;
}

.pagin-m a, .pagin-m span {
    height: 14px;
    line-height: 14px;
    font-size: 12px;
}

.pagin a, .pagin span {
    float: left;
    height: 20px;
    padding: 3px 10px;
    border: 1px solid #ccc;
    margin-left: 2px;
    font-family: arial;
    line-height: 20px;
    font-size: 14px;
    overflow: hidden;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#filter .total {
    float: right;
    height: 22px;
    padding: 2px 15px 2px 0;
    border-right: 1px solid #E7E3E7;
    line-height: 22px;
    font-family: verdana;
    color: #E4393C;
}

#plist {
    margin-bottom: 0;
}

#plist .list-h {
    margin-bottom: 10px;
    zoom: 1;
}

#plist .list-h:after {
    content: '\20';
    clear: both;
    display: block;
}

#plist li {
    width: 221px;
    padding: 0 13px 10px;
    text-align: left;
    font-family: arial,\5b8b\4f53;
}

#plist .p-img {
    position: relative;
    height: 160px;
    border: 1px solid #fff;
    transition: border 0.3s ease-in 0s;
    text-align: center;
}

#plist .extra {
    line-height: 16px;
    color: #005aa0;
}

#plist .extra span {
    overflow: hidden;
    height: 15px;
}

#plist .reputation {
    display: none;
    color: #1A8705;
}

#plist.plist-n7a .p-img {
    height: 220px;
}

a {
    text-decoration: none;
    cursor: pointer;
}