/**********************************************************************************************

Title: ACRS
Date: August 2012

***********************************************************************************************

1. Reset
1.1 Basic Form

2. Global Stucture
2.1 Templete Layout
	2.1.1 1-Column Layout
	2.1.2 2-Column Left Layout
	2.1.3 2-Column Right Layout
	2.1.4 3-Column Layout
2.2 Wrapper and Page Container
2.3 Top Section
	2.3.1 Keywords
	2.3.2 breadcrumb
2.4 Bottom Section
2.5 Main Navigation and Drop Down Menu Functionality

3. Clear Float

**********************************************************************************************

1. Reset                                                                                    
============================================================================================*/
body{
    font: 12px/150% Arial,Verdana,"\5b8b\4f53";
    color: #333;
	height: 100%;
    background: #fff;
	-webkit-text-size-adjust: none; /* fixed Chrome browse */
	-webkit-font-size: 1.1em; /* fixed Chrome browse */
}

*{ 
	margin: 0;
	padding: 0;
}


/* 1.1  Basic Form
----------------------------------------------------------*/
label{
	display: block;
}

select, input, textarea{
    font-size: 1em;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

@-moz-document url-prefix(){
	select, input, textarea{
		font-family: "Helvetica";
	}
}

/* Fix Mac CSS hank
select:focus, input:focus{
	background: #fff url(bg_white.gif) repeat 0 0;
	outline: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}*/

select, input[type="text"], input[type="password"], textarea{
	border: 1px solid #a5acb2;
}

input[type="text"], input[type="password"]{
	padding: 0 3px;
}

textarea{
	padding: 3px;
}

input[name="button"]{
	border: 0;
	cursor: pointer;
}

/* form */
fieldset > dl + dl{
	margin-top: 10px;
}

fieldset > dl > dt{
	width: 140px;
	font-weight: 700;
}

.require:before{
	content: "*";
	color: #db071d;
	margin-right: 3px;
	font-weight: 400;
	font-family: "Verdana";
	position: relative;
	top: 2px;
}

fieldset .textInput{
	width: 220px;
}

fieldset .textInput.short{
	width: 135px;
}

fieldset .select{
	width: 228px;
}

fieldset .select.month{
	width: 145px;
}

fieldset .select.year{
	width: 80px;
}

fieldset > dl.buttonBox{
	border-top: 1px dashed #c5c5c5;
	padding-top: 15px;
	margin-top: 40px;
}

fieldset > dl.buttonBox > dd{
	float: right;
}

fieldset > dl input{
	vertical-align:middle;
}

fieldset > dl input[type="checkbox"], fieldset > dl input[type="radio"]{
	margin-right: 5px;
}

fieldset > dl .error{
	margin-top: 5px;
	width: 216px;
}


/* 2. Global Structure
============================================================================================*/
#wrapper > div{
	float: left;
}

#wrapper > .content + .aside{
	float: right;
}

.aside{
	width: 165px;
	min-height: 1px;
}

#mainSection{
	display: -webkit-box;
	display: -moz-box;
	display: box;
	box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-box-orient: horizontal;
}

.content{
	width: 1210px;
	min-height: 500px;
}

/* 2.1 Templete Layout
----------------------------------------------------------*/
/* 2.1.1 1-Column Layout */
.column_1 .aside{
	display: none;
}

.column_1 .content{
	width: 100%;
}

/* 
	2.1.2 2-Column Left Layout
*/
.columnL_2 .content{
	padding-left: 10px;
	width: 749px;
}

.columnL_2 .content + .aside{
	display: none;
}

/* 
	2.1.3 2-Column Right Layout
*/
.columnR_2 .aside{
	display: none;
}

.columnR_2 .content{
	padding-right: 10px;
	width: 749px;
}

.columnR_2 .content + .aside{
	display: block;
}

/* 2.1.4 3-Column Layout */
.column_3 .content {

}

/* 2.2  Wrapper and Page Container
----------------------------------------------------------*/


#topSection > div + div, .aside > div + div, .aside > div + a, .aside > a + div, .aside > a + a, #btmSection > div + div{
	margin-top: 15px;
}

.content > div + div{
	margin-top: 20px;
}

/* 2.3 Top Section
----------------------------------------------------------*/

.logo a{
	display: inline-block;
}

/* 2.3.1 Keywords */
.keywords{
	display: none;
}

/* Logo */
#store_logo{
  width: 175px;
  height: 58px;
  margin:17px 0 0 22px;
}
#store_logo a{
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
  overflow:hidden; /* Removes 'excess' focus area caused by text-indent*/
  background:url(/assets/images/logo.jpg) no-repeat scroll left top;
}

/* Store Search */
#store_search{
  margin-left:0;
  margin-top:10px;
}
.store_searchInput{
  margin: 20px 0 0 20px;
}
#store_search #store_searchStoreSelect{
  margin-left:20px;
}
#store_search span.store_smallButton input#store_searchSubmit:hover{
  background:url(/crsdocroot/content/images/atghome/search_button.png) no-repeat scroll right bottom transparent;
}


#topSection .searchBox{
	position: absolute;
	right: 190px;
	top: 0;
	margin-top: 0;
	width: 200px;
}

.searchForm > .textInput{
	width: 200px;
	padding-right: 30px;
}

.searchForm .btn_search{
	color: #828282;
	background: transparent;
	border: 0;
	padding: 0;
	position: absolute;
	right: 3px;
	top: 4px;
}

/* 2. Keywords
============================================================================================*/
.keywords{
	position: absolute;
	z-index: 1700;
	width: 200px;
	border: 1px solid #d5d5d5;
	background: #fff;
	margin-top: 1px;
	padding-bottom: 10px;
	display: none;
}

.keywords > strong{
	display: block;
	line-height: 26px;
	background: #ff4949;
	color: #fff;
	padding: 0 10px;
}

.keywords ul > li,
.keywords ul > li > a{
	width: 100%;
	line-height: 26px;
	padding: 0 10px;
	color: #828282;
	display: inline-block;
}


.keywords ul > li:hover{
	background: #ff4949;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	cursor: pointer;
}

.keywords b{color: #323232;}

.keywords ul > li:hover > a, .keywords ul > li:hover > a b{color: #fff;}

/**--Account Navigation**/
/* 2.3.2 Account Navigation */
.acctNav{float: right;}

.acctNav li{
	float: none;
	display: inline-block;
}

.acctNav li + li:before{
	content: '|';
	padding: 0 5px;
}

.acctNav .welcome, .acctNav a{font-size: 12px;}

.acctNav a:hover{text-decoration: underline;}

.acctNav .welcome{color: #828282;}

.acctNav .customerName{
	font-family: webFont;
	font-weight: 700;
	padding: 0 5px;
	color: #ff4949;
}

.acctNav .welcome a{
	text-decoration: underline;
	color: #ff4949;
}


/* 2.4  Bottom Section
----------------------------------------------------------*/
#footer{
	position: relative;
}

/* 2.5 Main Navigation and Drop Down Menu Functionality
----------------------------------------------------------*/
.J_dropdown > li > div{
	position: absolute;
	z-index: 50;
	display: none;
}

.J_dropdown > li:hover > a + div{
	display: block;
} 

/* 4. Clear Float                                                                                    
============================================================================================*/
#wrapper:after,
#aside:after,
#content:after,
dl:after,
.colorBox:after,
.sizeBox:after,
ul:after,
.pop_connectAccount:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* own css
======================*/
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
}

/** top bar **/
#topbar {
    width: 100%;
    border-bottom: 1px solid #eee;
    line-height: 30px;
}

#topbar .w {
    height: 30px;
    background: #F7F7F7;
}

#topbar .fl {
    overflow: visible;
}

#topbar .fl .fore1 {
    padding-left: 16px;
    z-index: 1;
}

#topbar li{
    height: 30px;
    padding: 0 11px 0 12px;
}

#topbar .fore2{
    border-left:1px solid #E5E5E5;
}

.fr {
    float: right;
}

.lh {
    overflow: hidden;
    zoom: 1;
}

.lh li, .lh dl, .lh .item {
    float: left;
}

.ld {
    position: relative;
    zoom: 1;
}

.fl {
    float: left;
}

/**header style**/

.btn-img, .button {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    cursor: pointer;
}

#header-2013 {
    height: 60px;
    padding: 15px 0;
}

#logo-2013 {
    float: left;
    width: 330px;
}

#search-2013 {
    width: 510px;
    float: left;
    padding: 4px 126px 0 0;
}

#search-2013 .i-search {
    z-index: 11;
    width: 494px;
    height: 30px;
    margin-bottom: 3px;
    border: 3px solid #E4393C;
}

#search-2013 #shelper {
    overflow: hidden;
    position: absolute;
    top: 32px;
    left: -3px;
    width: 418px;
    border: 1px solid #E4393C;
    background: #fff;
    -moz-box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 5px #999;
}

#search-2013 .form {
    height: 30px;
    overflow: hidden;
}

#search-2013 .text {
    width: 406px;
    height: 20px;
    padding: 5px;
    background-position: 0 -360px;
    background-color: #fff;
    background-repeat: repeat-x;
    line-height: 20px;
    color: #999;
    font-family: arial,"\5b8b\4f53";
    font-size: 14px;
    margin: 0;
    border: 0;
}

#search-2013 input {
    margin: 0;
    padding: 0;
    height: 30px;
    border: 0;
}

#search-2013 .button {
    width: 78px;
    background: #E4393C;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}

.form label, .form input, .form select, .form textarea, .form button, .form .label {
 float: left;
 font-size: 12px;
}

select, input, textarea {
    font-size: 1em;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.hide {
    display: none;
}

#myaccount{
    float: left;
    position: relative;
    z-index: 9;
    width: 106px;
    height: 30px;
    margin-top: 12px;
}

#myaccount dt {
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 30px;
    padding: 0 24px 0 30px;
    border: 1px solid #EFEFEF;
    background-position: -116px -24px;
    background-color: #F7F7F7;
    text-align: center;
    line-height: 27px;
    cursor: pointer;
}

#myaccount dt, #myaccount dl.hover dt {
    background-image: url(/assets/images/20130330A_1.png);
    background-repeat: no-repeat;
}

#myaccount dt b {
    top: 12px;
    right: 8px;
    width: 0;
    height: 0;
    border-style: solid dashed dashed;
    border-width: 5px;
    border-color: #CCC transparent transparent;
    overflow: hidden;
}

.ld s, .ld b, .ld .block {
    position: absolute;
    overflow: hidden;
}

a:link, a:visited {
    color: #666;
    text-decoration: none;
}


/**/
#settleup-2013 {
    float: right;
    position: relative;
    z-index: 9;
    width: 126px;
    height: 30px;
    margin-top: 12px;
}

#settleup-2013 dt {
    position: absolute;
    z-index: 3;
    width: 74px;
    height: 30px;
    padding: 0 20px 0 30px;
    border: 1px solid #EFEFEF;
    background-position: -115px -84px;
    background-color: #F7F7F7;
    cursor: pointer;
    text-align: center;
}

#settleup-2013 dt .shopping {
    position: absolute;
    top: -13px;
    left: 20px;
    background-image: url(/assets/images/20130330A_1.png);
    background-position: -133px -279px;
    padding-left: 6px;
    color: #fff;

}

#settleup-2013 dt .shopping span {
    float: left;
    display: block;
    height: 20px;
    padding-right: 6px;
    background-image: url(/assets/images/20130330A_1.png);
    background-position: 100% -250px;
}

#settleup-2013 dt, #settleup-2013 dl.hover dt, #settleup-2013 .nogoods b {
    background-image: url(/assets/images/20130330A_1.png);
    background-repeat: no-repeat;
}

#settleup-2013 dt a {
    line-height: 27px;
}

/*navigation bar*/
#nav-2013 {
    position: relative;
    z-index: 6;
    height: 40px;
    padding-left: 210px;
    margin-bottom: 10px;
    background: #E4393C;
}

#categorys-2013 {
    position: absolute;
    top: 0;
    left: 0;
    width: 210px;
    height: 40px;
}

#navitems-2013 {
    background: -moz-linear-gradient(top,#E64346,#E13335);
    background: -webkit-gradient(linear,0 0,0 100%,from(#E64346),to(#E13335));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#E64346", endColorstr="#E13335");
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr="#E64346", endColorstr="#E13335")";
}

#navitems-2013 li {
    float: left;
    position: relative;
    width: 83px;
}

#navitems-2013 li a {
    position: absolute;
    top: 0;
    left: 0;
    width: 85px;
    text-align: center;
    color: #fff;
    font: 700 15px/40px "microsoft yahei";
    text-decoration: none;
}

#navitems-2013 .curr a, #navitems-2013 .hover a {
    background: #A40000;
}

#navitems-2013, #navitems-2013 li, #navitems-2013 li a {
    height: 40px;
}

.ld {
    position: relative;
    zoom: 1;
}

h2, h3 {
    font-size: 14px;
}



.mt, .smt {
    cursor: default;
}

.m, .mt, .mc, .mb, .sm, .smt, .smc, .smb {
    overflow: hidden;
    zoom: 1;
}


/*product list*/
#plist .p-price {
    height: 20px;
    overflow: hidden;
}

#plist .p-price strong {
    float: left;
    margin-right: 5px;
    font-family: verdana;
    font-size: 14px;
    color: #E4393C;
}

#plist .extra span, #shop-choice .extra span {
    float: left;
    overflow: hidden;
    height: 15px;
}

#plist .extra a:link, #plist .extra a:visited {
    float: left;
    color: #005aa0;
}

#plist .btn-buy, #plist .btns .btn-coll, #plist .btn-compare, #plist .notice-store, #plist-shop .go-shop, #plist .btn-panic-buying {
    float: left;
    height: 19px;
    padding: 0px 9px;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin: 0 4px 0 0;
    background: #F7F7F7;
    line-height: 18px;
    line-height: 19px\9;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #333;
    background: -moz-linear-gradient(top,#f7f7f7,#f2f2f2);
    background: -webkit-gradient(linear,0 0,0 100%,from(#f7f7f7),to(#f2f2f2));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#f2f2f2");
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#f2f2f2")";
}

.star {
    margin-right: 5px;
}

.star .star-white {
    width: 76px;
    background: url(/assets/images/20130606B.png) no-repeat 0 -70px;
}

.star .h4 {
    width: 60px;
}

.star .star-yellow {
    position: relative;
    z-index: 1;
    background: url(/assets/images/20130606B.png) #fff no-repeat 0 -86px;
}

#plist .extra {
    margin-top: 5px;
    padding: 2px 0;
    height: 16px;
    line-height: 16px;
    overflow: hidden;
    font-family: verdana;
    color: #005aa0;
}
/** pdp **/
.sku_template {
    display: none;
}

/*
table th {
    border: 1px solid #EEEEEE;
    padding: 0.6em 10px;
    text-align: left;
}*/


.validateTips {
    border: 1px solid transparent; padding: 0.3em;
}

.breadcrumb {
    height: 20px;
    padding: 0 0 4px 6px;
    margin-bottom: 10px;
    overflow: hidden;
    line-height: 20px;
    vertical-align: baseline;
}

#preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 352px;
}

#product-intro {
    position: relative;
    z-index: 1;
    min-height: 474px;
    height: auto!important;
    height: 474px;
}

#product-intro .dt {
    float: left;
    width: 72px;
    text-align: left;
}

#product-intro .dd {
    width: 524px;
    float: left;
}

#product-name {
    padding-bottom: 10px;
    border-bottom: 1px dotted #ccc;
    padding-left: 370px;
    zoom: 1;
}

#product-summary {
    width: 600px;
    float: left;
    padding: 10px;
    padding-left: 370px;
}

#product-summary li {
    padding: 6px 0;
    overflow: hidden;
    clear: both;
}

#summary-price {
    height: 18px;
    overflow: hidden;
}

#summary-price .p-price {
    color: #e4393c;
    font-size: 18px;
}

#summary-price .dd {
    line-height: 12px;
}

#product-summary .dt {
    font-family: simsun;
}

#choose {
    border-top: 1px dotted #ddd;
    padding-top: 10px;
    padding-left: 370px;
    float: left;
    margin-bottom: 20px;
}

#choose .item {
    float: left;
    margin: 2px 8px 2px 0;
}

#choose .selected {
    position: relative;
    zoom: 1;
}

#choose-qty .wrap-input {
    position: relative;
}

#choose-qty .btn-reduce {
    left: 0;
    background-position: -216px -190px;
}

#choose-qty .btn-add {
    right: 0;
    background-position: -232px -190px;
}

#choose-qty .text {
    width: 30px;
    height: 16px;
    border: 1px solid #ccc;
    padding: 2px;
    text-align: center;
}

#preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 352px;
}

#heroimg{
    width: 350px;
    height: 350px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}

ol, ul {
list-style: none;
}

.left {
    float: left;
    width: 210px;
    margin-right: 30px;
}

.right-extra {
    width: 990px;
    float: right;
}

#filter {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    background: #F7F7F7;
    box-shadow: 0 1px 1px rgba(0,0,0,0.02);
}

#filter .fore1 {
    overflow: hidden;
    height: 26px;
    padding: 5px 8px;
    border-bottom: 1px solid #E7E3E7;
    zoom: 1;
}

#filter dl, #filter dt, #filter dd {
    float: left;
    line-height: 26px;
    zoom: 1;
}

#filter .order .curr {
    border: 1px solid #E4393C;
    background: #E4393C;
    font-weight: bold;
}

#filter .order dd {
    height: 24px;
    border: 1px solid #CECBCE;
    background-position: 0 -73px;
    background-repeat: repeat-x;
    background-color: #fff;
    margin-right: 5px;
    line-height: 24px;
    overflow: hidden;
    zoom: 1;
}

#filter .pagin{
    float: right;
    height: 22px;
    padding: 2px 0;
    border-left: 1px solid #fff;
}

.pagin .prev, .pagin .next, .pagin .prev-disabled, .pagin .next-disabled {
    padding: 4px 10px 5px;
    border-radius: 3px;
    background: #fff;
}

.pagin-m .prev, .pagin-m .next, .pagin-m .prev-disabled, .pagin-m .next-disabled {
    padding-top: 3px;
    height: 14px;
    line-height: 14px;
}

.pagin .prev-disabled, .pagin .next-disabled {
    color: #ccc;
    cursor: default;
}

.pagin .text, .pagin .current {
    font-family: verdana;
}

.pagin .text, .pagin .current {
    border: 0;
    padding: 4px 11px;
}

.pagin a, .pagin span {
    border-radius: 3px;
}

.pagin a, .pagin span {
    float: left;
    height: 20px;
    padding: 3px 10px;
    border: 1px solid #ccc;
    margin-left: 2px;
    font-family: arial;
    line-height: 20px;
    font-size: 14px;
    overflow: hidden;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.pagin-m a, .pagin-m span {
    height: 14px;
    line-height: 14px;
    font-size: 12px;
}

#filter .total {
    float: right;
    height: 22px;
    padding: 2px 15px 2px 0;
    border-right: 1px solid #E7E3E7;
    line-height: 22px;
    font-family: verdana;
    color: #E4393C;
}

#plist {
    margin-bottom: 0;
}

#plist .list-h {
    margin-bottom: 10px;
    zoom: 1;
}

#plist .list-h:after {
    content: '\20';
    clear: both;
    display: block;
}

#plist li {
    width: 221px;
    padding: 0 13px 10px;
    text-align: left;
    font-family: arial,\5b8b\4f53;
}

#plist .p-img {
    position: relative;
    height: 160px;
    border: 1px solid #fff;
    transition: border 0.3s ease-in 0s;
    text-align: center;
}

#plist .extra {
    line-height: 16px;
    color: #005aa0;
}

#plist .extra span {
    overflow: hidden;
    height: 15px;
}

#plist .reputation {
    display: none;
    color: #1A8705;
}

#plist.plist-n7a .p-img {
    height: 220px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/*Footer Style*/
#footer-2013 {
    padding-bottom: 30px;
    text-align: center;
}

#footer-2013 .links a, #footer-2013 .links span {
    margin: 0 10px;
}

/*login*/
#login-body{
    background: #f2f2f2;
}
#entry {
    background: #e8e8e8;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
    margin: 60px auto 55px;
    position: relative;
}

#entry .mc {
    border: 1px solid #e1e1e1;
    background: #ffffff;
    height: 296px;
}

#entry .mc .form{
    margin: 5px;
}

.w1 {
    width: 890px;
    margin: 0 auto;
}

#logo {
    padding: 10px 0;
    float: none;
    margin: 0;
    position: relative;
}

#entry .item {
    height: 64px;
    line-height: 26px;
    overflow: visible;
    position: relative;
    width: 320px;
    z-index: 1;
}

#entry .text {
    float: none;
    width: 282px;
    height: 24px;
    line-height: 24px;
    padding: 4px 20px 4px 3px;
    border: 1px solid #cccccc;
    font-size: 14px;
    font-family: arial,"宋体";
}

#entry .checkbox {
    margin-top: 7px;
}

#entry .item .item-ifo {
    position: relative;
    width: 307px;
}

#entry #autoentry {
    height: 37px;
    margin-top: 8px;
}

.form .item {
    overflow: hidden;
    zoom: 1;
}

.form label, .form input, .form select, .form textarea, .form button, .form .label {
    float: left;
    font-size: 12px;
}

#entry .mar {
    margin-right: 10px;
}

#entry .login-btn2013 {
    height: 52px;
}

#entry .highlight2 {
    border: 1px solid #f00;
    color: #f00;
}

.btn-img {
    cursor: pointer;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
}

#entry .btn-entry {
    width: 307px;
    height: 34px;
    font-family: "微软雅黑";
    line-height: 100px;
    text-indent: -9999px;
    background: url(/assets/images/login-img2013.png) no-repeat 0 0;
    overflow: hidden;
}

.w2 {
    width: 990px;
    padding: 0;
    margin: 0 auto;
    zoom: 1;
}

#entry .null, #entry .error, #loginname_error.error, #loginpwd_error.error, #authcode_error.error {
    position: absolute;
    width: 302px;
    padding: 2px 0 2px 3px;
    left: 0px;
    top: 34px;
    border: 1px solid #ffbdbf;
    color: #e6393d;
    background: #ffebec;
    float: none;
    line-height: 16px;
    z-index: 100;
}

/*Signup*/
#regist {
    background: #FFF;
    margin-bottom: 10px;
}

#regist .mc {
    padding: 30px 0 20px;
    border: solid #dddddd;
    border-width: 0px 1px 1px;
}

#regist .text {
    width: 238px;
    height: 16px;
    padding: 10px 25px 10px 5px;
    border: 1px solid #cccccc;
    float: none;
    font-size: 14px;
    font-family: arial,"宋体";
    color: #999;
}

#regist .highlight2 {
    border: 1px solid #FF0000;
    color: #f00;
}

#regist .item {
    padding-top: 9px;
    height: 60px;
    line-height: 34px;
    position: relative;
    z-index: 1;
}

.ftx04, .flk04 a:link, .flk04 a:visited, a.flk04:link, a.flk04:visited {
    color: #F00;
}

#regist .label {
    width: 190px;
    text-align: right;
    font-size: 14px;
    color: #999;
    padding-right: 10px;
}

#regist .item .item-ifo {
    position: relative;
    width: 270px;
}

#regist .btn-regist {
    width: 270px;
    height: 36px;
    color: #FFF;
    font-family: "微软雅黑";
    font-size: 16px;
    text-indent: -9999px;
    font-weight: 800;
    overflow: hidden;
    background: url(/assets/images/regist-btn.jpg) no-repeat;
}

#regist .focus, #regist .error {
    color: #e4393c;
    line-height: 36px;
    height: 36px;
    position: absolute;
    top: 0px;
    right: -275px;
    width: 260px;
    padding: 0 5px;
    background: #FFEBEB;
    border: 1px solid #ffbdbe;
}

/*My Account*/
.m, .sm {
    margin-bottom: 10px;
}

.m, .mt, .mc, .mb, .sm, .smt, .smc, .smb {
    overflow: hidden;
    zoom: 1;
}

h2, h3 {
    font-size: 14px;
}

#accountMenu{
    width: 150px;
}
#accountMenu .mt {
    height: 32px;
    padding: 0 6px;
    background-color: #CCCCCC;
    border-top: 2px solid #B5B5B5;
    line-height: 32px;
    color: #fff;
}


#accountMenu .mt h2 {
    line-height: 32px;
}

.mt h2, .smt h3 {
    font-family: "microsoft yahei";
}

#accountMenu .mc {
    border: solid #E6E6E6;
    border-width: 0 1px 1px;
    overflow: hidden;
}

#accountMenu dl dt {
    position: relative;
    margin-bottom: -1px;
    height: 30px;
    padding: 0 12px;
    font-weight: bold;
    line-height: 30px;
    cursor: pointer;
    color: #333333;
    background-color: #F9F9F9;
}

dl > dt + dd {
    margin-left: 5px;
}

#accountMenu dd {
    padding: 4px 0 5px;
}

#accountMenu dl dt b {
    display: block;
    position: absolute;
    top: 12px;
    left: 125px;
    width: 9px;
    height: 5px;
    background: url(/assets/images/yxleft.png) -64px 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

#accountMenu dl.close dt b {
    background: url(/assets/images/yxleft.png) -64px -6px;
}

#accountMenu dd .item {
    padding: 2px 0 2px 24px;
}

#accountMenu dl dd a:link, #accountMenu dl dd a:visited {
    color: #333333;
}

#accountMenu dd .curr {
    font-weight: bold;
}

.right {
    width: 1030px;
    float: right;
    font-family: Verdana;
}

.right .o-mt {
    border: 1px solid #e6e6e6;
    border-bottom: 2px solid #c30000;
    height: 33px;
    line-height: 33px;
    margin-bottom: 10px;
}

.right .o-mt h2 {
    color: #cc0000;
    padding-left: 16px;
    float: left;
}

.right .i-m {
    float: left;
    width: 600px;
    padding-top: 10px;
}

.right .i-m .form .text {
    width: 140px;
}

#baseinfo .i-m .item {
    padding-bottom: 20px;
}

.right .item .label {
    width: 185px;
    text-align: right;
    color: #666666;
}

.right .form .label, .right .form label {
    margin-right: 8px;
}

.form .label {
    float: left;
    font-size: 12px;
}

.form .text {
    width: 130px;
    margin-right: 5px;
}

em {
    font-style: normal;
}

.form em {
    color: #ff6600;
    margin-right: 3px;
}

.right .fl {
    width: 400px;
}

.form .text, .form .area, .sele {
    padding: 4px;
    border: 1px solid;
    border-color: #aaa #ddd #ddd #aaa;
}

.form label, .form input, .form select, .form textarea, .form button, .form .label {
    float: left;
    font-size: 12px;
}

.right .i-m .form .area {
    width: 308px;
    height: 65px;
    float: none;
}

.right .radio {
    margin-top: 5px;
    float: left;
}

.right .form .check, .right .form .radio {
    margin-top: 3px;
}

.form .item .fl .btn-7, .form .item .fl .btn-8 {
    color: #333333;
}

.btn, .btn s {
    background: url(/assets/images/btn.png) no-repeat;
}

.btn {
    display: inline-block;
    padding-right: 13px;
}

.btn-3, .btn-7, .btn-11, .btn-15 {
    line-height: 25px;
}

.btn-7 {
    background-position: right -393px;
}

.btn-7 s {
    background-position: 0 -367px;
}

.btn s {
    float: left;
    width: 3px;
    margin-right: 10px;
}

.btn-3 s, .btn-7 s, .btn-11 s, .btn-15 s {
    height: 25px;
}

.prompt-error {
    color: #cc0000;
}


/*merchandise UI*/
#merchMenu{
    width: 150px;
}

h4, h5, h6 {
    font-size: 12px;
}


.right .i-m h5 {
    color: #cc0000;
    border-bottom: 1px solid #e6e6e6;
    line-height: 30px;
    padding-left: 15px;
    margin-bottom: 20px;
}

.sele {
    margin-right: 10px;
    font-size: 12px;
}

#baseinfo .sele {
    width: 100px;
}

.right .i-m .form .text1 {
    width: 300px;
}

/*Admin Management Console*/
.o-m .o-mb {
    text-align: right;
    padding-bottom: 10px;
    padding-right: 5px;
}

.o-mt1, .o-mb {
    overflow: hidden;
    line-height: 30px;
    zoom: 1;
}

h2, h3 {
    font-size: 14px;
}

.o-mt1 h3 .btn-6, .o-mb h3 .btn-6 {
    float: left;
    margin-right: 10px;
}

.btn-1, .btn-1 s, .btn-4, .btn-4 s, .btn-5, .btn-5 s, .btn-6, .btn-6 s, .btn-8, .btn-8 s, .btn-11, .btn-11 s, .btn-12, .btn-12 s {
    background: url(/assets/images/buttons.gif) no-repeat;
}

.btn-1, .btn-4, .btn-5, .btn-6, .btn-7, .btn-8, .btn-11, .btn-12 {
    display: inline-block;
    text-align: center;
}

a.btn-5:link, a.btn-5:visited, a.btn-5:hover, a.btn-5:active, a.btn-6:link, a.btn-6:visited, a.btn-6:hover, a.btn-6:active, a.btn-7:link, a.btn-7:visited, a.btn-7:hover, a.btn-7:active {
    color: #333333;
    font-weight: bold;
}

.btn-6 {
    background-position: right -336px;
    line-height: 30px;
    padding-right: 15px;
}

.btn-1, .btn-4, .btn-5, .btn-6, .btn-8, .btn-11, .btn-12 {
    display: inline-block;
    text-align: center;
    padding-right: 15px;
}

.btn-6 s {
    background-position: 0 -305px;
    height: 30px;
}

.btn-1 s, .btn-4 s, .btn-5 s, .btn-6 s, .btn-8 s, .btn-7 s, .btn-8 s, .btn-11 s, .btn-12 s {
    float: left;
    width: 3px;
    margin-right: 12px;
}

.o-m .m4 .mt {
    border-color: #eeeeee;
}

.o-m .m {
    overflow: visible;
}

.m, .sm {
    margin-bottom: 10px;
}

.m4 {
    border: 1px solid #e6e6e6;
}

.m4 .mt {
    border-bottom: 1px solid #e6e6e6;
    height: 34px;
    line-height: 34px;
    padding-left: 16px;
}

.o-m .mt {
    padding-left: 10px;
    line-height: 35px;
    height: 35px;
    position: relative;
    overflow: visible;
}

.mt, .smt {
    cursor: default;
}

.o-m .mt .extra {
    float: right;
}

.m .mt .extra a:link, .m .mt .extra a:visited {
    color: #333;
}

.o-m .mt .extra .btn-8, .o-m .mt .extra .btn-12 {
    margin-top: 7px;
    margin-right: 10px;
}

.btn-12 {
    background-position: right -673px;
    line-height: 21px;
}

.o-m .mt .extra .btn-12 s {
    margin-right: 11px;
}

.btn-12 s {
    background-position: 0 -651px;
}

.btn-4 s, .btn-8 s, .btn-12 s {
    height: 21px;
}

.o-m .mc {
    padding: 10px;
    line-height: 20px;
}

.m4 .mt h3 {
    float: left;
    color: #666666;
}

.btn-8 {
    background-position: right -441px;
    line-height: 21px;
}

.prompt-01 {
    position: relative;
    border: 1px solid #EDD28B;
    background: #FFFDEE;
    -webkit-box-shadow: 0 0 0 3px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 0 0 3px rgba(0,0,0,0.15);
    box-shadow: 0 0 0 3px rgba(0,0,0,0.15);
    zoom: 1;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}

table {
    empty-cells: show;
}

.o-m .extra .prompt-01 {
    position: absolute;
    top: -85px;
    right: 0;
    width: 184px;
    height: 80px;
    display: none;
}

.o-m .tb-0 th, .o-mc .tb-0 td {
    vertical-align: top;
}

.o-m .tb-0 th {
    text-align: right;
    font-weight: normal;
    color: #999999;
    width: 65px;
}

/*area management form*/
.thicktitle {
    height: 27px;
    padding: 0 10px;
    border: solid #C4C4C4;
    border-width: 1px 1px 0;
    background: #F3F3F3;
    line-height: 27px;
    font-family: arial,"\5b8b\4f53";
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.thickbox {
    position: absolute;
    z-index: 10000002;
    overflow: hidden;
    padding: 0;
    border: 4px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#areaForm .item {
    padding-bottom: 10px;
}

#areaForm .item .label {
     color: #666666;
     width: 79px;
     text-align: right;
}

#areaForm .form .area {
    width: 400px;
    height: 85px;
    float: none;
}