@(merchantForm:Form[vo.MerchantVo])(implicit user: Option[Merchant])

@import helper._
@merchbase(Messages("myacct.myacct.label"), user){

<div class="o-mt">
    <h2>@Messages("myacct.myacct.label")</h2>
</div>
<div class="m" id="baseinfo">
    <div class="mc">
        <div class="i-m">
            <div class="i-mc">
                @form(action = routes.Merchandise.update) {
                <input type="hidden" name="id" value="@merchantForm.data.get("id")"/>
                <input type="hidden" name="login" value="@merchantForm.data.get("login")"/>
                <input type="hidden" name="addressId" value="@merchantForm.data.get("addressId")"/>
                <div class="form">
                    <div class="item">
                        <span class="label">@Messages("myacct.email.label")</span>
                        <div class="fl">
                            <strong class="email">@merchantForm.data.get("login")&nbsp;&nbsp;&nbsp;</strong>
                        </div>
                        <div class="clr"></div>
                    </div>
                    <div class="item">
                        <span class="label"><em>*</em>@Messages("myacct.name.label")</span>
                        <div class="fl">
                            <div>
                                <input name="name" id="name" type="text" value="@merchantForm.data.get("name")" class="text"><s></s>
                                <div class="clr"></div>
                                @if(merchantForm.error("name").isDefined){
                                <div class="prompt-error"><span id="petName_msg">@Messages(merchantForm.error("name").get.message)</span></div>
                                }
                            </div>
                        </div>
                        <div class="clr"></div>
                    </div>
                    <div class="item">
                        <span class="label">@Messages("merch.merchnum.label")</span>
                        <div class="fl">
                            <div>
                                <input name="merchNum" id="merchNum" type="text" value="@merchantForm.data.get("merchNum")" class="text" ><s></s>
                                <div class="clr"></div>
                                @if(merchantForm.error("merchNum").isDefined){
                                <div class="prompt-error"><span id="petName_msg">@Messages(merchantForm.error("merchNum").get.message)</span></div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <span class="label"><em>*</em>@Messages("merch.artperson.label")</span>
                        <div class="fl">
                            <div>
                                <input name="artificialPerson" id="artificialPerson" type="text" value="@merchantForm.data.get("artificialPerson")" class="text" ><s></s>
                                <div class="clr"></div>
                                @if(merchantForm.error("artificialPerson").isDefined){
                                <div class="prompt-error"><span id="petName_msg">@Messages(merchantForm.error("artificialPerson").get.message)</span></div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <span class="label"><em>*</em>@Messages("merch.artpercert.label")</span>
                        <div class="fl">
                            <div>

                                <input name="artPerCert" id="artPerCert" type="text" value="@merchantForm.data.get("artPerCert")" class="text" ><s></s>
                                <div class="clr"></div>
                                @if(merchantForm.error("artPerCert").isDefined){
                                <div class="prompt-error"><span id="petName_msg">@Messages(merchantForm.error("artPerCert").get.message)</span></div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <span class="label">@Messages("merch.description.label")</span>
                        <div class="fl">
                            <textarea name="description" id="description" cols="" rows="" class="area" style="color: rgb(140, 140, 140);">@merchantForm.data.get("description")</textarea>
                        </div>
                        <div class="clr"></div>
                    </div>
                </div>
                <h5>联系信息</h5>
                <div class="form">
                    <div class="item">
                        <span class="label"><em>*</em>@Messages("merch.contact.person.label")</span>
                        <div class="fl">
                            <div>
                                <input name="contactPerson" id="contactPerson" type="text" value="@merchantForm.data.get("contactPerson")" class="text" ><s></s>
                                <div class="clr"></div>
                                @if(merchantForm.error("contactPerson").isDefined){
                                <div class="prompt-error"><span id="petName_msg">@Messages(merchantForm.error("contactPerson").get.message)</span></div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <span class="label"><em>*</em>@Messages("merch.phonenum.label")</span>
                        <div class="fl">
                            <div>
                                <input name="contactPhone" id="contactPhone" type="text" value="@merchantForm.data.get("contactPhone")" class="text" ><s></s>
                                <div class="clr"></div>
                                @if(merchantForm.error("contactPhone").isDefined){
                                <div class="prompt-error"><span id="petName_msg">@Messages(merchantForm.error("contactPhone").get.message)</span></div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <span class="label"><em>*</em>所在地：</span>
                        <div class="fl">
                            <select name="province" class="sele" id="province">
                                <option value="1">四川</option>
                            </select>
                            <select name="city" class="sele" id="city" style="display: block;">
                                <option value="1930">成都市</option>
                            </select>
                            <select name="district" class="sele" id="county">
                                <option value="6715">高新区</option>
                            </select>
                            <div class="clr"></div><div class="prompt-06"><span id="province_msg"></span></div>
                        </div>
                        <div class="clr"></div>
                    </div>
                    <div class="item">
                        <span class="label">&nbsp;</span>
                        <div class="fl">
                            <input name="addressLine" id="addressLine" type="text" value="@merchantForm.data.get("addressLine")" class="text text1" ><s></s>
                            <div class="clr"></div>
                            @if(merchantForm.error("addressLine").isDefined){
                            <div class="prompt-error"><span id="petName_msg">@Messages(merchantForm.error("addressLine").get.message)</span></div>
                            }
                        </div>
                    </div>
                    <div class="item">
                        <span class="label">&nbsp;</span>
                        <div class="fl">
                            <a href="javascript:void(0)" onclick="javascript: $('form').submit()" class="btn btn-7"><s></s>@Messages("myacct.submitbtn.label")</a>
                        </div>
                        <div class="clr"></div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>

}