@(title: String, user:Option[Merchant])(content: Html)

<!DOCTYPE html>

<html>
<head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/base.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/layout.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/ui.dynatree.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui.min.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.cookie.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.dynatree.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.ui.datepicker-zh-CN.js")" type="text/javascript"></script>
</head>
<body class="column_3">
<div id="wrapper">
    <section id="topSection">
        @merchtopbar(user)
        <h1 id="store_logo" title="YuXia">
            <a href="@routes.Application.index"></a>
        </h1>
    </section>
    <section id="mainSection">
        <div class="w main">
            <div id="accountMenu" class="left">
                <div class="mt">
                    <h2><a href="#">@Messages("my.site.name")</a></h2>
                </div>
                <div class="mc">
                    <dl tag="1" class="">
                        <dt tag="1">订单中心<b></b></dt>
                        <dd style="display: block;">
                            <div id="_MYJD_tuan" class="item"><a href="@routes.Merchandise.merchAccount" tag="102">@Messages("merch.account.label")</a></div>
                            <div id="_MYJD_tuan" class="item"><a href="http://tuan.jd.com/order/index.php" tag="102">@Messages("merch.pwdmgt.menu")</a></div>
                            <div id="_MYJD_ordercenter" class="item"><a href="@routes.Merchandise.serviceInfo" tag="101">@Messages("merch.shipping.menu")</a></div>
                            <div id="_MYJD_favorite" class="item"><a href="http://t.jd.com/home/follow" tag="104">@Messages("merch.prodlist.menu")</a></div>
                            <div id="_MYJD_history" class="item"><a href="http://my.jd.com/history/list.html" tag="106">@Messages("merch.orders.menu")</a></div>
                            <div id="_MYJD_history" class="item"><a href="http://my.jd.com/history/list.html" tag="106">我的积分</a></div>
                        </dd>
                    </dl>
                </div>
            </div>
            <div id="accountContent" class="right">
                @content
            </div>
        </div>
    </section>
    <section id="btmSection">
        <p>Footer</p>
    </section>
</div>
</body>
</html>
