@(form:Form[(String,String)])(implicit flash:Flash)

@merchbase(Messages("merch.login"), None) {
@helper.form(routes.Merchandise.authenticate)      {

@form.errors.map { error =>
<p class="error">
    @error.message
</p>
}

<p>
    <input type="login" name="login" placeholder="Login" id="login" value="@form(" login").value">
</p>
<p>
    <input type="password" name="password" id="password" placeholder="Password">
</p>
<p>
    <button type="submit" id="loginbutton">@Messages("merch.login")</button>
    <a href="@routes.Merchandise.signup">@Messages("merch.signup")</a>
</p>

}
}