@(productForm:Form[(Product, String)])(implicit merchant:Option[Merchant])

@import helper._
@merchbase(Messages("merch.product.title"),merchant){

@productForm.errors.map { error =>
<p class="error">
    @error.message
</p>
}

<script type="text/javascript">
    function showCategoryTree() {
        $("#tree").dialog(
            {height: 500,modal:true}
        );
    }

    $(function(){
    // --- Initialize sample trees
    $("#tree").dynatree({
    title: "Lazy loading sample",
    checkbox:true,
    selectMode:2,
    fx: { height: "toggle", duration: 200 },
    autoFocus: false, // Set focus to first child, when expanding or lazy-loading.
    // In real life we would call a URL on the server like this:
    // initAjax: {
    // url: "/getTopLevelNodesAsJson",
    // data: { mode: "funnyMode" }
    // },
    // .. but here we use a local file instead:

    onSelect: function(select, node) {
        // Display list of selected nodes
        var selNodes = node.tree.getSelectedNodes();
        // convert to title/key array
        var selKeys = $.map(selNodes, function(node){
            return node.data.key;
        });
        var selTitle = $.map(selNodes, function(node){
            return node.data.title;
        });
        $("#categories").val(selKeys.join(","));
        $("#category").val(selTitle.join(";"));
    },

    initAjax: {
        url: "@routes.Products.initCategoryTree",
        data: { mode: "funnyMode" }
    },

    onActivate: function(node) {
    $("#echoActive").text("" + node + " (" + node.getKeyPath()+ ")");
    },

    onLazyRead: function(node){
    // In real life we would call something like this:
    // node.appendAjax({
    // url: "/getChildrenAsJson",
    // data: {key: node.data.key,
    // mode: "funnyMode"
    // }
    // });
    // .. but here we use a local file instead:
    node.appendAjax({
    url: "/merch/prod/childCat/" + node.data.key,
    data: {key: node.data.key, mode: "funnyMode"}
    // We don't want the next line in production code:
    //debugLazyDelay: 750
    });
    }
    });
    });



</script>

@form(action = routes.Products.create, 'enctype -> "multipart/form-data") {
<fieldset>
    @productfields(productForm, merchant)

</fieldset>
<div class="submit-action">
    <input type="submit" class="btn primary" value="@Messages("product.add")">
    <a href="@routes.Application.index" class="btn">Cancel</a>
</div>
}
}