@(productForm:Form[ProductVo])(implicit merchant:Option[Merchant])

@import helper._
@import vo._
@merchbase(Messages("merch.product.title"),merchant){

@productForm.errors.map { error =>
<p class="error">
    @error.message
</p>
}

@form(action = routes.Products.create, 'enctype -> "multipart/form-data") {
<fieldset>
    @productfields(productForm, merchant)

</fieldset>
<div class="submit-action">
    <input type="submit" class="btn primary" value="@Messages("product.add")">
    <a href="@routes.Application.index" class="btn">Cancel</a>
</div>
}
}