@(productForm:Form[(Product,String)])(implicit merchant:Option[Merchant])

@import helper._
@merchbase(Messages("merch.product.title"),merchant){

@productForm.errors.map { error =>
<p class="error">
    @error.message
</p>
}

@form(action = routes.Products.create) {
<fieldset>
    @inputText(
    profileForm("login"),
    '_label -> "Username",
    '_help -> "Please choose a valid username.",
    '_error -> profileForm.globalError
    )

    @inputText(
    profileForm("login"),
    '_label -> "Username",
    '_help -> "Please choose a valid username.",
    '_error -> profileForm.globalError
    )

    @inputText(
    profileForm("login"),
    '_label -> "Username",
    '_help -> "Please choose a valid username.",
    '_error -> profileForm.globalError
    )

    @inputText(
    profileForm("login"),
    '_label -> "Username",
    '_help -> "Please choose a valid username.",
    '_error -> profileForm.globalError
    )

    @inputText(
    profileForm("login"),
    '_label -> "Username",
    '_help -> "Please choose a valid username.",
    '_error -> profileForm.globalError
    )

    @inputText(
    profileForm("login"),
    '_label -> "Username",
    '_help -> "Please choose a valid username.",
    '_error -> profileForm.globalError
    )


</fieldset>
<input type="hidden" name="id"/>
<input type="hidden" name="merchantId" value="@merchant.get.id"/>
<div>
    @input
    <label for="name">@Messages("product.name")</label>
    <input type="text" id="name"/>
</div>
<div>
    <label for="description">@Messages("product.desc")</label>
    <input type="text" id="description"/>
</div>
<div>
    <label for="longDescription">@Messages("product.longdesc")</label>
    <input type="text" id="longDescription"/>
</div>
<div>
    <label for="startDate">@Messages("product.startDate")</label>
    <input type="text" id="startDate"/>
</div>
<div>
    <label for="endDate">@Messages("product.endDate")</label>
    <input type="text" id="endDate"/>
</div>
<div>
    <label for="categories">@Messages("product.category")</label>
    <input type="text" id="categories"/>
    <input type="hidden" id="categoryIds"/>
</div>
<div class="submit-action">
    <input type="submit" class="btn primary" value="@Messages("product.add")">
    <a href="@routes.Application.index" class="btn">Cancel</a>
</div>
}
}