@(productForm:Form[(Product, String)])(implicit merchant:Option[Merchant])

@import helper._
@merchbase(Messages("merch.product.title"),merchant){
<SCRIPT LANGUAGE="JavaScript">
 function del(){
    if(confirm('@Messages("product.delete.confirm")')){
        $.ajax({
            async:false,
            url:"@routes.Products.delete(productForm.get._1.id)",
            type:"DELETE",
            success: function(result){
                document.location.href = "@routes.Products.list()";
            }
            }
        );
    }
 }
</SCRIPT>
@productForm.errors.map { error =>
<p class="error">
    @error.message
</p>
}

@form(action = routes.Products.update, 'enctype -> "multipart/form-data") {
<fieldset>
    @productfields(productForm, merchant)
    <image src="@routes.Assets.at("images/product/" + productForm.get._1.imageUrl)" width="127" height="56"/>


</fieldset>
<div class="submit-action">
    <input type="submit" class="btn primary" value="@Messages("product.update")">
    <input type="button" id="deleteBtn" class="btn primary" value="@Messages("product.delete")" onclick="del()">
</div>
}
}