@(productForm:Form[vo.ProductVo], merchant:Option[Merchant])

@import helper._

@skuGroup(field: Field, className: String = "sku_mgt") = {
  <div id="skuMgt_0" class="@className" >
    @inputText(
      field("skuId"),
      'type -> "hidden",
      '_label -> "",
      '_error -> productForm.globalError
    )

    @inputText(
      field("skuName"),
    '_label -> Messages("sku.name.label"),
    '_error -> productForm.globalError
    )

    @inputText(
      field("skuDesc"),
    '_label -> Messages("sku.desc.label"),
    '_error -> productForm.globalError
    )

    @inputText(
      field("listPrice"),
    '_label -> Messages("sku.listprice.label"),
    '_error -> productForm.globalError
    )

    @inputText(
      field("salePrice"),
    '_label -> Messages("sku.saleprice.label"),
    '_error -> productForm.globalError
    )

    @inputText(
      field("saleStartDate"),
    '_label -> Messages("sku.salestartdate.label"),
    '_error -> productForm.globalError
    )

    @inputText(
      field("saleEndDate"),
    '_label -> Messages("sku.saleenddate.label"),
    '_error -> productForm.globalError
    )

  </div>
}

<script type="text/javascript">
    function showCategoryTree() {
    $("#tree").dialog({
         height: 300,
         modal:true
    }
    );
    }

    $(function(){
    // --- Initialize sample trees
    $("#tree").dynatree({
    title: "Lazy loading sample",
    checkbox:true,
    selectMode:2,
    fx: { height: "toggle", duration: 200 },
    autoFocus: false, // Set focus to first child, when expanding or lazy-loading.
    // In real life we would call a URL on the server like this:
    // initAjax: {
    // url: "/getTopLevelNodesAsJson",
    // data: { mode: "funnyMode" }
    // },
    // .. but here we use a local file instead:

    onSelect: function(select, node) {
    // Display list of selected nodes
    var selNodes = node.tree.getSelectedNodes();
    // convert to title/key array
    var selKeys = $.map(selNodes, function(node){
        return node.data.key;
    });
    var selTitle = $.map(selNodes, function(node){
        return node.data.title;
    });
    $("#categories").val(selKeys.join(","));
    $("#selectedCat").val(selTitle.join(";"));
    },

    initAjax: {
    url: "@routes.Products.initCategoryTree",
    data: { mode: "funnyMode" }
    },

    onActivate: function(node) {
    $("#echoActive").text("" + node + " (" + node.getKeyPath()+ ")");
    },

    onLazyRead: function(node){
    node.appendAjax({
    url: "/merch/prod/childCat/" + node.data.key,
    data: {key: node.data.key, mode: "funnyMode"}
    // We don't want the next line in production code:
    //debugLazyDelay: 750
    });
    }
    });
    });

    function updateTips( t ) {
        var tips = $( "#skuValidateTips" );
        tips.text( t ).addClass( "ui-state-highlight" );
        setTimeout(function() {
        tips.removeClass( "ui-state-highlight", 1500 );
        }, 500 );
    }

    function checkLength( o, n, min, max ) {
        if ( o.val().length > max || o.val().length < min ) {
            o.addClass( "ui-state-error" );
            updateTips( "Length of " + n + " must be between " +
            min + " and " + max + "." );
            return false;
        } else {
            return true;
        }
    }

    function checkRegexp( o, regexp) {
        if ( !( regexp.test( o.val() ) ) ) {
            o.addClass( "ui-state-error" );
            return false;
        } else {
            return true;
        }
    }

    function clearSku(index) {
        $('#childSkus_' + index + '__skuName').val("");
        $('#childSkus_' + index + '__skuDesc').val("");
        $('#childSkus_' + index + '__listPrice').val("");
        $('#childSkus_' + index + '__salePrice').val("");
        $('#childSkus_' + index + '__saleStartDate').val("");
        $('#childSkus_' + index + '__saleEndDate').val("");
    }

    function removeSku(element, index){
        if(index == undefined)
            return;
        //$(element).parent().parent().remove();
        var length = $('.sku_mgt').length;
        $( "#skuTable tbody" ).children().remove();
        if(length == 1){
            clearSku(0);
        } else {
            $('#skuMgt_' + index + '.sku_mgt').remove();
            length = length - 1;
            renumber();
            refillSkuTable(length);
        }
    }

    function refillSkuTable(length){
        if(length == undefined)
            length = $('.sku_mgt').length;
        for(var i = 0; i < length; i++){
            var skuName = $('#childSkus_' + i + '__skuName');
            var listPrice = $('#childSkus_' + i + '__listPrice');
            var salePrice = $('#childSkus_' + i + '__salePrice');
            if(skuName.val() == ""){
                break;
            }
            $( "#skuTable tbody" ).append( "<tr>" +
                "<td><a href='#' onclick='showSkuMgtForm(" + i + ")'>" + skuName.val() + "</a></td>" +
                "<td>" + listPrice.val() + "</td>" +
                "<td>" + salePrice.val() + "</td>" +
                "<td><a href='#' onclick='removeSku(this, " + i + ")'>@Messages("product.delete")</a></td>" +
                "</tr>" );
            }
    }

   function showSkuMgtForm(index){
        var length = $('.sku_mgt').length;
        if($('#childSkus_' + (length-1) + '__skuName').val() != "" && index == undefined){
            var template = $('.sku_template');
            template.before('<div id="skuMgt_' + length + '" class="sku_mgt">' + template.html() + '</div>');
            renumber();
            length = length + 1;
        }
        var currentIdx = 0;
        if(index == undefined){
            currentIdx = length - 1;
        } else {
            currentIdx = index;
        }
        $("#childSkus_" + currentIdx + "__saleStartDate").datepicker();
        $("#childSkus_" + currentIdx + "__saleEndDate").datepicker();
        for(var i = 0; i < length; i++){
            if(i == currentIdx){
                $('#skuMgt_' + i).show();
            } else {
                $('#skuMgt_' + i).hide();
            }
        }
        var btonJson ;
        if(index == undefined) {
            btonJson = {
                "@Messages("ok.button")": function(){
                    var skuName = $('#childSkus_' + currentIdx + '__skuName');
                    var listPrice = $('#childSkus_' + currentIdx + '__listPrice');
                    var salePrice = $('#childSkus_' + currentIdx + '__salePrice');
                    if(skuName.val().trim() == ""){
                        updateTips("@Messages("sku.type.validation.msg")");
                        return;
                    }
                    if(listPrice.val().trim() == "" || !checkRegexp(listPrice,/^([0-9\.])+$/)){
                        updateTips("@Messages("sku.listprice.validation.msg")");
                        return;
                    }

                    if(listPrice.val().trim() != "" && !checkRegexp(listPrice,/^([0-9\.])+$/)){
                        updateTips("@Messages("sku.listprice.validation.msg")");
                        return;
                    }
                    $( "#skuTable tbody" ).append( "<tr>" +
                    "<td><a href='#' onclick='showSkuMgtForm(" + currentIdx + ")'>" + skuName.val() + "</a></td>" +
                    "<td>" + listPrice.val() + "</td>" +
                    "<td>" + salePrice.val() + "</td>" +
                    "<td><a href='#' onclick='removeSku(this, " + currentIdx + ")'>@Messages("product.delete")</a></td>" +
                    "</tr>" );
                    $(this).dialog('destroy').appendTo("#skuDialog");
                    <!--$(this).dialog("close");-->
                    },
                "@Messages("cancel.button")": function(){
                    clearSku(length - 1);
                    $(this).dialog('destroy').appendTo("#skuDialog");
                }
            }
        } else {
            btonJson = {
                "@Messages("ok.button")": function(){
                var skuName = $('#childSkus_' + currentIdx + '__skuName');
                var listPrice = $('#childSkus_' + currentIdx + '__listPrice');
                var salePrice = $('#childSkus_' + currentIdx + '__salePrice');
                if(skuName.val().trim() == ""){
                    updateTips("@Messages("sku.type.validation.msg")");
                    return;
                }
                if(listPrice.val().trim() == "" || !checkRegexp(listPrice,/^([0-9\.])+$/)){
                    updateTips("@Messages("sku.listprice.validation.msg")");
                    return;
                }

                if(listPrice.val().trim() != "" && !checkRegexp(listPrice,/^([0-9\.])+$/)){
                    updateTips("@Messages("sku.listprice.validation.msg")");
                    return;
                }
                var rows = $( "#skuTable tbody tr" );
                var currentRowHtml = "<td><a href='#' onclick='showSkuMgtForm(" + currentIdx + ")'>" + skuName.val() + "</a></td>" +
                                     "<td>" + listPrice.val() + "</td>" + "<td>" + salePrice.val() + "</td>" + "<td><a href='#' onclick='removeSku(this, " + currentIdx + ")'>@Messages("product.delete")</a></td>";
                rows.eq(currentIdx).html(currentRowHtml)
                $(this).dialog('destroy').appendTo("#skuDialog");
                }
            }
        }
        $("#skuInfo").dialog({
            height: 300,
            modal:true,
            open:function(event, ui){
                $(".ui-dialog-titlebar-close", $(this).parent()).hide();
            },
            closeOnEscape: false,
            buttons: btonJson
        }
        );
   }

    $(function(){
        renumber();
        refillSkuTable();
        //initialize date picker
        $("#startDate").datepicker();
        $("#endDate").datepicker();
        $("#childSkus_0__saleStartDate").datepicker();
        $("#childSkus_0__saleEndDate").datepicker();
    });

</script>

<input type="hidden" name="merchantId" id="merchantId" value="@merchant.get.id">
<input type="hidden" name="id" id="id" value="@productForm.data.get("id")">
<input type="hidden" name="categories" id="categories" value="@productForm.data.get("categories")">
<div class="item">
    <span class="label"><em>*</em>@Messages("product.name")</span>
    <div class="fl">
        <input id="name" name="name" type="text" class="text" value="@productForm.data.get("name")" maxlength="20">
        @if(productForm.error("name").isDefined){
        <div class="prompt-error"><span id="petName_msg">@Messages(productForm.error("name").get.message)</span></div>
        }
    </div>
    <div class="clr"></div>
</div>

<div class="item">
    <span class="label"><em>*</em>@Messages("product.desc")</span>
    <div class="fl">
        <input id="description" name="description" type="text" class="text" value="@productForm.data.get("description")" maxlength="20">
        @if(productForm.error("description").isDefined){
        <div class="prompt-error"><span id="petName_msg">@Messages(productForm.error("description").get.message)</span></div>
        }
    </div>
    <div class="clr"></div>
</div>

<div class="item">
    <span class="label"><em>*</em>@Messages("product.longdesc")</span>
    <div class="fl">
        <input id="longDescription" name="longDescription" type="text" class="text" value="@productForm.data.get("longDescription")" maxlength="20">
        @if(productForm.error("longDescription").isDefined){
        <div class="prompt-error"><span id="petName_msg">@Messages(productForm.error("longDescription").get.message)</span></div>
        }
    </div>
    <div class="clr"></div>
</div>

<div class="item">
    <span class="label"><em>*</em>@Messages("product.startDate")</span>
    <div class="fl">
        <input id="startDate" name="startDate" type="text" class="text" value="@productForm.data.get("startDate")" maxlength="20">
        @if(productForm.error("startDate").isDefined){
        <div class="prompt-error"><span id="petName_msg">@Messages(productForm.error("startDate").get.message)</span></div>
        }
    </div>
    <div class="clr"></div>
</div>

<div class="item">
    <span class="label"><em>*</em>@Messages("product.endDate")</span>
    <div class="fl">
        <input id="endDate" name="endDate" type="text" class="text" value="@productForm.data.get("endDate")" maxlength="20">
        @if(productForm.error("endDate").isDefined){
        <div class="prompt-error"><span id="petName_msg">@Messages(productForm.error("endDate").get.message)</span></div>
        }
    </div>
    <div class="clr"></div>
</div>

<div class="item">
    <span class="label"><em>*</em>@Messages("product.category")</span>
    <div class="fl">
        <input id="selectedCat" name="selectedCat" type="text" class="text" value="@productForm.data.get("selectedCat")" maxlength="20" readonly>
        <input type="button" id="selCategory" onclick="showCategoryTree()" value="@Messages("product.category.selbtn")"/>
        @if(productForm.error("selectedCat").isDefined){
        <div class="prompt-error"><span id="petName_msg">@Messages(productForm.error("selectedCat").get.message)</span></div>
        }
    </div>
    <div class="clr"></div>
</div>

<div class="item">
    <span class="label"><em>*</em>@Messages("product.image")</span>
    <div class="fl">
        <input type="file" id="selImage" />
        @if(productForm.error("image").isDefined){
        <div class="prompt-error"><span id="petName_msg">@Messages(productForm.error("image").get.message)</span></div>
        }
    </div>
    <div class="clr"></div>
</div>

@if(productForm.value.isDefined){
<div class="item">
    <span class="label">&nbsp;</span>
    <div class="fl">
        <image style="float:left" src="@routes.Assets.at("images/product/" + productForm.get.imageUrl)" width="127" height="56"/>
    </div>
    <div class="clr"></div>
</div>
}

<input type="button" onclick="showSkuMgtForm()" value="@Messages("product.sku.mgt.label")" />

<fieldset>
<div id="skuDialog"></div>
<div id="skuInfo" title="@Messages("product.price.mgt")" style="display:none" >
<p class="validateTips" id="skuValidateTips"></p>
@repeat(productForm("childSkus")) { skuField =>
    @skuGroup(skuField)
}

@**
* Keep an hidden block that will be used as template for Javascript copy code
**@
@skuGroup(
    productForm("childSkus[x]"),
    className = "sku_template"
)
</div>
</fieldset>
<div id="skuGroupTable" class="ui-widget">
        <table id="skuTable" class="ui-widget ui-widget-content">
            <thead>
            <tr class="ui-widget-header ">
                <th>价格分类</th>
                <th>标价</th>
                <th>促销价格</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="skuTbody">
            </tbody>
        </table>
</div>
<div id="tree" style="display:none;" title="@Messages("product.category.select")">
<!-- When using initAjax, it may be nice to put a throbber here, that spins until the initial content is loaded: -->
</div>

<script type="text/javascript">
    var renumber = function() {

    $('.sku_mgt').each(function(i) {
    $(this).attr('id', $(this).attr('id').replace(/skuMgt_.+?/g, 'skuMgt_' + i));
    $('input', this).each(function() {
    $(this).attr('name', $(this).attr('name').replace(/childSkus\[.+?\]/g, 'childSkus[' + i + ']'));
    $(this).attr('id', $(this).attr('id').replace(/childSkus_.+?_/g, 'childSkus_' + i + '_'))
    })
    })
    }
</script>