@(productForm:Form[ProductVo], merchant:Option[Merchant])

@import helper._
@import vo._
<script type="text/javascript">
    function showCategoryTree() {
    $("#tree").dialog(
    {height: 300,modal:true}
    );
    }

    $(function(){
    // --- Initialize sample trees
    $("#tree").dynatree({
    title: "Lazy loading sample",
    checkbox:true,
    selectMode:2,
    fx: { height: "toggle", duration: 200 },
    autoFocus: false, // Set focus to first child, when expanding or lazy-loading.
    // In real life we would call a URL on the server like this:
    // initAjax: {
    // url: "/getTopLevelNodesAsJson",
    // data: { mode: "funnyMode" }
    // },
    // .. but here we use a local file instead:

    onSelect: function(select, node) {
    // Display list of selected nodes
    var selNodes = node.tree.getSelectedNodes();
    // convert to title/key array
    var selKeys = $.map(selNodes, function(node){
        return node.data.key;
    });
    var selTitle = $.map(selNodes, function(node){
        return node.data.title;
    });
    $("#categories").val(selKeys.join(","));
    $("#selectedCat").val(selTitle.join(";"));
    },

    initAjax: {
    url: "@routes.Products.initCategoryTree",
    data: { mode: "funnyMode" }
    },

    onActivate: function(node) {
    $("#echoActive").text("" + node + " (" + node.getKeyPath()+ ")");
    },

    onLazyRead: function(node){
    // In real life we would call something like this:
    // node.appendAjax({
    // url: "/getChildrenAsJson",
    // data: {key: node.data.key,
    // mode: "funnyMode"
    // }
    // });
    // .. but here we use a local file instead:
    node.appendAjax({
    url: "/merch/prod/childCat/" + node.data.key,
    data: {key: node.data.key, mode: "funnyMode"}
    // We don't want the next line in production code:
    //debugLazyDelay: 750
    });
    }
    });
    });



</script>

@defining(productForm("merchantId")) { uidField =>
    <input type="hidden" name="@uidField.name" id="@uidField.id" value="@merchant.get.id">
}
@defining(productForm("id")) {uidField =>
    <input type="hidden" name="@uidField.name" id="@uidField.id" value="@productForm.data.get("id")">
}
@defining(productForm("categories")) {uidField =>
    <input type="hidden" name="@uidField.name" id="@uidField.id" value="@productForm.data.get("categories")">
}




@inputText(
productForm("name"),
'_label -> Messages("product.name"),
'_error -> productForm.globalError
)

@inputText(
productForm("description"),
'_label -> Messages("product.desc"),
'_error -> productForm.globalError
)

@inputText(
productForm("longDescription"),
'_label -> Messages("product.longdesc"),
'_error -> productForm.globalError
)

@inputText(
productForm("startDate"),
'_label -> Messages("product.startDate"),
'_error -> productForm.globalError
)

@inputText(
productForm("endDate"),
'_label -> Messages("product.endDate"),
'_error -> productForm.globalError
)

<dl class=" " id="catIds_field">
    <dt><label for="selectedCat">@Messages("product.category")</label></dt>
    <dd>
        @defining(productForm("selectedCat")) { uidField =>
            <input type="text" name="@uidField.name" id="@uidField.id" value="@productForm.data.get("selectedCat")" readonly>
        }
        <input type="button" id="selCategory" onclick="showCategoryTree()" value="@Messages("product.category.selbtn")"/>
    </dd>
</dl>

@inputFile(
productForm("image"),
'_label -> Messages("product.image"),
'_error -> productForm.globalError
)

<div id="priceInfo" title="@Messages("product.price.mgt")" >

</div>

<div id="tree" style="display:none" title="@Messages("product.category.select")">
<!-- When using initAjax, it may be nice to put a throbber here, that spins until the initial content is loaded: -->
</div>