@(productForm:Form[vo.ProductVo], merchant:Option[Merchant])

@import helper._

@skuGroup(field: Field, className: String = "sku_mgt") = {
  <div class="@className" >
    @inputText(
      field("skuName"),
    '_label -> Messages("sku.name.label"),
    '_error -> productForm.globalError
    )

    @inputText(
      field("skuDesc"),
    '_label -> Messages("sku.desc.label"),
    '_error -> productForm.globalError
    )

    @inputText(
      field("skuType"),
    '_label -> Messages("sku.type.label"),
    '_error -> productForm.globalError
    )

    @inputText(
      field("listPrice"),
    '_label -> Messages("sku.listprice.label"),
    '_error -> productForm.globalError
    )

    @inputText(
      field("salePrice"),
    '_label -> Messages("sku.saleprice.label"),
    '_error -> productForm.globalError
    )

  </div>
}

<script type="text/javascript">
    function showCategoryTree() {
    $("#tree").dialog({
         height: 300,
         modal:true
    }
    );
    }

    $(function(){
    // --- Initialize sample trees
    $("#tree").dynatree({
    title: "Lazy loading sample",
    checkbox:true,
    selectMode:2,
    fx: { height: "toggle", duration: 200 },
    autoFocus: false, // Set focus to first child, when expanding or lazy-loading.
    // In real life we would call a URL on the server like this:
    // initAjax: {
    // url: "/getTopLevelNodesAsJson",
    // data: { mode: "funnyMode" }
    // },
    // .. but here we use a local file instead:

    onSelect: function(select, node) {
    // Display list of selected nodes
    var selNodes = node.tree.getSelectedNodes();
    // convert to title/key array
    var selKeys = $.map(selNodes, function(node){
        return node.data.key;
    });
    var selTitle = $.map(selNodes, function(node){
        return node.data.title;
    });
    $("#categories").val(selKeys.join(","));
    $("#selectedCat").val(selTitle.join(";"));
    },

    initAjax: {
    url: "@routes.Products.initCategoryTree",
    data: { mode: "funnyMode" }
    },

    onActivate: function(node) {
    $("#echoActive").text("" + node + " (" + node.getKeyPath()+ ")");
    },

    onLazyRead: function(node){
    // In real life we would call something like this:
    // node.appendAjax({
    // url: "/getChildrenAsJson",
    // data: {key: node.data.key,
    // mode: "funnyMode"
    // }
    // });
    // .. but here we use a local file instead:
    node.appendAjax({
    url: "/merch/prod/childCat/" + node.data.key,
    data: {key: node.data.key, mode: "funnyMode"}
    // We don't want the next line in production code:
    //debugLazyDelay: 750
    });
    }
    });
    });

   function showSkuMgtForm(){
        $("#skuInfo").dialog({
            height: 300,
            modal:true,
            buttons:{
                "@Messages("sku.ok.button")": function(){
                    $(this).dialog("close");
                 }
            }
        }
        );
        $('#skuInfo').show();
        var length = $('.sku_mgt').length;
        if($('#childSkus_' + (length-1) + '__skuType').val() != ""){
            var template = $('.sku_template');
            template.before('<div class="sku_mgt">' + template.html() + '</div>');
            renumber();
        }
   }

</script>
<fieldset>
@defining(productForm("merchantId")) { uidField =>
    <input type="hidden" name="@uidField.name" id="@uidField.id" value="@merchant.get.id">
}
@defining(productForm("id")) {uidField =>
    <input type="hidden" name="@uidField.name" id="@uidField.id" value="@productForm.data.get("id")">
}
@defining(productForm("categories")) {uidField =>
    <input type="hidden" name="@uidField.name" id="@uidField.id" value="@productForm.data.get("categories")">
}




@inputText(
productForm("name"),
'_label -> Messages("product.name"),
'_error -> productForm.globalError
)

@inputText(
productForm("description"),
'_label -> Messages("product.desc"),
'_error -> productForm.globalError
)

@inputText(
productForm("longDescription"),
'_label -> Messages("product.longdesc"),
'_error -> productForm.globalError
)

@inputText(
productForm("startDate"),
'_label -> Messages("product.startDate"),
'_error -> productForm.globalError
)

@inputText(
productForm("endDate"),
'_label -> Messages("product.endDate"),
'_error -> productForm.globalError
)


<input type="button" onclick="showSkuMgtForm()" value="@Messages("product.sku.mgt.label")" />

<dl class=" " id="catIds_field">
    <dt><label for="selectedCat">@Messages("product.category")</label></dt>
    <dd>
        @defining(productForm("selectedCat")) { uidField =>
            <input type="text" name="@uidField.name" id="@uidField.id" value="@productForm.data.get("selectedCat")" readonly>
        }
        <input type="button" id="selCategory" onclick="showCategoryTree()" value="@Messages("product.category.selbtn")"/>
    </dd>
</dl>

@inputFile(
productForm("image"),
'_label -> Messages("product.image"),
'_error -> productForm.globalError
)
</fieldset>

<fieldset>
<div id="skuInfo" title="@Messages("product.price.mgt")" style="display:none" >
@repeat(productForm("childSkus")) { skuField =>
    @skuGroup(skuField)
}

@**
* Keep an hidden block that will be used as template for Javascript copy code
**@
@skuGroup(
    productForm("childSkus[x]"),
    className = "sku_template"
)
</div>
</fieldset>
<div id="tree" style="display:none" title="@Messages("product.category.select")">
<!-- When using initAjax, it may be nice to put a throbber here, that spins until the initial content is loaded: -->
</div>

<script type="text/javascript">
    var renumber = function() {
    $('.sku_mgt').each(function(i) {
    $('input', this).each(function() {
    $(this).attr('name', $(this).attr('name').replace(/childSkus\[.+?\]/g, 'informations[' + i + ']'))
    })
    })
    }
</script>