@(serviceForm: Form[vo.MerchantServiceVo], areaList: Seq[Area])(implicit user: Option[Merchant])

@import helper._
@merchbase(Messages("merch.shipping.menu"), user){
<div class="o-mt">
    <h2>@Messages("merch.shipping.menu")</h2>
</div>
<script type="text/javascript">
$(function(){
    // --- Initialize Area trees
    $("#tree").dynatree({
    title: "Area Trees",
    checkbox:true,
    selectMode:3,
    fx: { height: "toggle", duration: 200 },
    autoFocus: false,

    onSelect: function(select, node) {
        // Display list of selected nodes
        var selNodes = node.tree.getSelectedNodes();
        // convert to title/key array
        var selKeys = $.map(selNodes, function(node){
            return node.data.key;
        });
        var selTitle = $.map(selNodes, function(node){
            return node.data.title;
        });
        var selDetail = $.map(selNodes, function(node){
            return node.data.tooltip;
        });
        $("#selectedAreaNames").val(selTitle.join(";"));
        $("#selectedAreaIds").val(selKeys.join(";"));
        $("#selectedAreaDetails").val(selDetail.join(";"));
    },

    initAjax: {
    url: "@routes.Addresses.initAreaTrees",
    data: { mode: "funnyMode" }
    },

    onActivate: function(node) {
    $("#echoActive").text("" + node + " (" + node.getKeyPath()+ ")");
    },

    onLazyRead: function(node){
    node.appendAjax({
    url: "/area/child/" + node.data.key,
    data: {key: node.data.key, mode: "funnyMode"}
    });
    }
    });
})

    function insertArea(id, name, detail){
        $("#areaListTable > tbody:last").append("<tr><td>" + name + "</td><td>" + detail + "</td><td style='text-align:center'><a id='" + id + "' href='#' onclick='deleteArea($(this))'>删除</a></td></tr>");
    }

    function deleteArea(element){
        element.parent().parent().remove();
        var areaId = element.attr("id");
        var currentAreaIds = $("#areaIds").val();
        var result = currentAreaIds.replace(areaId + ";", "");
        if(result.indexOf(areaId) > -1){
            result = result.replace(areaId, "");
            if(result.indexOf(";") > -1){
                result = result.substr(0, result.length -1);
            }
        }
        $("#areaIds").val(result);
    }

    function showAreaTree(){
        $("#tree").dialog({
            title: "@Messages("area.pickparent.title")",
            width: 760,
            height: 400,
            modal:true,
            beforeClose: function( event, ui ) {
                var ids = $("#selectedAreaIds").val();
                if(ids.length == 0){
                    return;
                }
                var names = $("#selectedAreaNames").val().split(";");
                var details = $("#selectedAreaDetails").val().split(";");
                var areaIds = ids.split(";");
                var i = 0;
                var result = "";
                for(var i = 0; i < areaIds.length; i++){
                    var currentAreaIds = $("#areaIds").val();
                    var areaId = areaIds[i];
                    if(currentAreaIds.indexOf(areaId) == -1){
                        result = result + ";" + areaId;
                        insertArea(areaId, names[i], details[i]);
                    }
                }
                if($("#areaIds").val().length == 0){
                    $("#areaIds").val(result.substr(1));
                } else {
                    $("#areaIds").val($("#areaIds").val() + result);
                }

                //clear selected nodes
                $("#tree").dynatree("getRoot").visit(function(node){
                    node.select(false);
                });
                $("#selectedAreaNames").val("");
                $("#selectedAreaDetails").val("");
                $("#selectedAreaIds").val("");
            },
            buttons:{"@Messages("ok.button")": function(){
                $(this).dialog("close");
            }}
        })
    }
</script>
<div class="m" id="serviceinfo">
    <div class="mc">
        <div class="i-m">
            <div class="i-mc">
                @form(action = routes.Merchandise.updateServiceInfo) {
                <input type="hidden" name="selectedAreaIds" id="selectedAreaIds"/>
                <input type="hidden" name="selectedAreaNames" id="selectedAreaNames"/>
                <input type="hidden" name="selectedAreaDetails" id="selectedAreaDetails"/>
                <input type="hidden" name="merchId" value="@serviceForm.data.get("merchId")"/>
                <input type="hidden" name="areaIds" id="areaIds" value="@serviceForm.data.get("areaIds")"/>
                <div class="form">
                    <div class="item">
                        <span class="label"><em>*</em>@Messages("merch.starttime.label")</span>
                        <div class="fl">
                            <div>
                                <select name="startTime" id="startTime" value="@serviceForm.data.get("startTime")" class="text">
                                @for(i <- 0 to 23){
                                     @(serviceForm.data.get("startTime").get.toDouble == (i + 0.5))
                                    <option value="@i" @(if(i == serviceForm.data.get("startTime").get.toDouble) "selected")>@(i + ":00")</option>
                                    <option value="@(i + 0.5)" @(if((i + 0.5) == serviceForm.data.get("startTime").get.toDouble) "selected")>@(i + ":30")</option>
                                }
                                </select>

                                <div class="clr"></div>
                                @if(serviceForm.error("startTime").isDefined){
                                <div class="prompt-error"><span id="petName_msg">@Messages(serviceForm.error("startTime").get.message)</span></div>
                                }
                            </div>
                        </div>
                        <div class="clr"></div>
                    </div>
                    <div class="item">
                        <span class="label"><em>*</em>@Messages("merch.endtime.label")</span>
                        <div class="fl">
                            <div>
                                <select name="endTime" id="endTime" value="@serviceForm.data.get("endTime")" class="text">
                                @for(i <- 0 to 23){
                                <option value="@i"  @(if(i == serviceForm.data.get("endTime").get.toDouble) "selected")>@(i + ":00")</option>
                                <option value="@(i + 0.5)" @(if((i + 0.5) == serviceForm.data.get("endTime").get.toDouble) "selected")>@(i + ":30")</option>
                                }
                                </select>
                                <div class="clr"></div>
                                @if(serviceForm.error("endTime").isDefined){
                                <div class="prompt-error"><span id="petName_msg">@Messages(serviceForm.error("endTime").get.message)</span></div>
                                }
                            </div>
                        </div>
                        <div class="clr"></div>
                    </div>
                    <div class="item">
                        <span class="label"><em>*</em>@Messages("merch.scope.label")</span>
                        <div class="fl">
                            <div>
                                <input name="" type="button" value="选择区域" class="bti" onclick="showAreaTree()" >
                                <div class="clr"></div>
                                @if(serviceForm.error("areaIds").isDefined){
                                <div class="prompt-error"><span id="petName_msg">@Messages(serviceForm.error("areaIds").get.message)</span></div>
                                }
                            </div>
                        </div>
                        <div class="clr"></div>
                    </div>
                    <div class="tb-void">
                        <div>
                            <table id="areaListTable" width="80%" border="0" cellspacing="0" cellpadding="0">
                                <tbody><tr>
                                    <th width="25%">区域名称</th>
                                    <th width="60%">详细描述</th>
                                    <th width="15%">操作</th>
                                </tr>
                                @for((area,idx) <- areaList.zipWithIndex) {
                                <tr>
                                    <td>@area.name</td>
                                    <td>@area.detail</td>
                                    <td style="text-align:center"><a id="@area.id" href="#" onclick="deleteArea($(this))">删除</a></td>
                                </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="item">
                        <span class="label">&nbsp;</span>
                        <div class="fl">
                            <a href="javascript:void(0)" onclick="javascript: $('form').submit()" class="btn btn-7"><s></s>@Messages("myacct.submitbtn.label")</a>
                        </div>
                        <div class="clr"></div>
                    </div>
                    <div id="tree" style="display:none;overflow: hidden">

                    </div>
                }
            </div>
        </div>
    </div>

</div>
</div>
}