@(message: String, result: vo.SearchResult)(implicit user:Option[Profile])

@main(Messages("srp.page.title"), user) {
<style>
    .custom-combobox {
        position: relative;
        display: inline-block;
    }
    .custom-combobox-toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
        /* support: IE7 */
        *height: 1.7em;
        *top: 0.1em;
    }
    .custom-combobox-input {
        margin: 0;
        padding: 0.3em;
    }
</style>
<div class="right-extra">
    <div id="filter">
        <div class="fore1">
            <dl class="order">
                <dt>@Messages("srp.search.order")</dt>
                <dd>
                    <a href="#">@Messages("srp.order.saleqty")</a>
                    <b></b>
                </dd>
                <dd class="">
                    <a href="#">@Messages("srp.order.price")</a>
                    <b></b>
                </dd>
                <dd class="">
                    <a href="#">@Messages("srp.order.rating")</a>
                    <b></b>
                </dd>
            </dl>
            <div class="pagin pagin-m">
                <span class="text" ><i>@result.currentPage</i>/@result.pageQty</span>
                @result.currentPage match {
                case result.pageQty if(result.pageQty == 1) => {
                    <span class="prev-disabled">上一页<b></b></span>
                    <span class="prev-disabled">下一页<b></b></span>
                }
                case 1 => {
                <span class="prev-disabled">上一页<b></b></span>
                <a class="next" href="#" id="srp-next">下一页<b></b></a>
                }
                case result.pageQty => {
                <a class="prev" href="#" id="srp-prev">上一页<b></b></a>
                <span class="prev-disabled">下一页<b></b></span>
                }
                case _ => {
                <a class="prev" href="#" id="srp-prev">上一页<b></b></a>
                <a class="next" href="#" id="srp-next">下一页<b></b></a>
                }
                }
            </div>
            <div class="total"><span>@Html(Messages("srp.product.total", result.numFound))</span></div>
        </div>
        <div class="fore2 form">
            <dl class="store">
                <dt>区域：</dt>
                <dd id="store-selector" class="hover">
                    <select id="combobox">
                        @for(area <- Area.allLeaveAreas){
                            @if(result.areaId.isDefined){
                               <option value="@area.id" title="@area.detail" @(if(area.id == result.areaId.get) "selected")>@area.name</option>
                            } else {
                                <option value="@area.id" title="@area.detail" @(if(area.id == play.api.Play.current.configuration.getString("defaultArea").get) "selected")>@area.name</option>
                            }
                        }
                    </select>
                    <span style="display:none" id="areaId">@result.areaId</span>
                </dd>

            </dl>
        </div>
    </div>
    <div id="plist" class="plist-n7a">
        <ul class="list-h">
            @result.products match {
            case Nil => {
                @Messages("srp.not.found")
            }
            case p => {
            @for((item, idx) <- p.zipWithIndex){
            <li index="@idx">
                <div class="p-img">
                    <a target="_blank" href="@routes.Browse.productDetail(item.id)"><img width="220" height="220" alt="" src="@routes.Assets.at("images/product/" + item.imageUrl)" data-img="1" title=""></a>
                    <div class="picon pi6"><b></b></div>
                </div>
                <div class="p-name"><a target="_blank" href="@routes.Browse.productDetail(item.id)" title="">@item.name</a></div>
                <div class="p-price"><strong>@util.AppHelper.displayPrice(item.priceRange)</strong><span id="p779369"></span></div>
                <div class="extra"><span class="evaluate"><a target="_blank" href="http://club.jd.com/review/779369-1-1.html">已有0人评价</a></span><span class="reputation">(0%好评)</span></div>
                <div class="btns">
                    <a onclick="log(1,7,779369)" href="http://gate.jd.com/InitCart.aspx?pid=779369&amp;pcount=1&amp;ptype=1" target="_blank" class="btn-buy">加入购物车</a>
                    <a id="coll779369" href="javascript:;" class="btn-coll">关注</a>
                    <a class="btn-compare btn-compare-s" id="comp_779369" skuid="779369"><span></span>对比</a>
                </div>
            </li>
            }
            }
            }

        </ul>
    </div>
</div>
<script type="text/javascript">
    (function( $ ) {
    $.widget( "custom.combobox", {
    _create: function() {
        this.wrapper = $( "<span>" )
          .addClass( "custom-combobox" )
          .insertAfter( this.element );
        this.element.hide();
        this._createAutocomplete();
        this._createShowAllButton();
      },

      _createAutocomplete: function() {
        var selected = this.element.children( ":selected" ),
        value = selected.val() ? selected.text() : "";
        $("#areaId").text(selected.val());
        this.input = $( "<input>" )
          .appendTo( this.wrapper )
          .val( value )
          .attr( "title", "" )
          .addClass( "custom-combobox-input ui-widget ui-corner-left" )
          .autocomplete({
            delay: 0,
            minLength: 0,
            source: $.proxy( this, "_source" )
          })
          .tooltip({
            tooltipClass: "ui-state-highlight"
          });

        this._on( this.input, {
          autocompleteselect: function( event, ui ) {
            event.preventDefault();
            ui.item.option.selected = true;
            this._trigger( "select", event, {
              item: ui.item.option
            });
            $("#areaId").text(ui.item.value);
            $(this.input).val(ui.item.label);
            this._trigger("change");
          },

          autocompletefocus: function(event, ui){
            event.preventDefault();
            var menu = $(this.input).data("uiAutocomplete").menu.element,
            focused = menu.find("li:has(a.ui-state-focus)");
            focused.attr("title", ui.item.detail);
          },

          autocompletechange: "_removeIfInvalid"
        });
      },

      _createShowAllButton: function() {
        var input = this.input,
        wasOpen = false;

        $( "<a>" )
        .attr( "tabIndex", -1 )
        .attr( "title", "Show All Items" )
        .tooltip()
        .appendTo( this.wrapper )
        .button({
        icons: {
        primary: "ui-icon-triangle-1-s"
        },
        text: false
        })
        .removeClass( "ui-corner-all" )
        .addClass( "custom-combobox-toggle ui-corner-right" )
        .mousedown(function() {
        wasOpen = input.autocomplete( "widget" ).is( ":visible" );
        })
        .click(function() {
        input.focus();

        // Close if already visible
        if ( wasOpen ) {
        return;
        }

        // Pass empty string as value to search for, displaying all results
        input.autocomplete( "search", "" );
        });
        },

        _source: function( request, response ) {
        var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
        response( this.element.children( "option" ).map(function() {
        var text = $( this ).text();
        if ( this.value && ( !request.term || matcher.test(text) ) )
        return {
        label: text,
        value: this.value,
        option: this,
        detail: this.title
        };
        }) );
        },

        _removeIfInvalid: function( event, ui ) {

        // Selected an item, nothing to do
        if ( ui.item ) {
        return;
        }

        // Search for a match (case-insensitive)
        var value = this.input.val(),
        valueLowerCase = value.toLowerCase(),
        valid = false;
        this.element.children( "option" ).each(function() {
        if ( $( this ).text().toLowerCase() === valueLowerCase ) {
        this.selected = valid = true;
        return false;
        }
        });

        // Found a match, nothing to do
        if ( valid ) {
        return;
        }

        // Remove invalid value
        this.input
        .val( "" )
        .attr( "title", value + " didn't match any item" )
        .tooltip( "open" );
        this.element.val( "" );
        this._delay(function() {
        this.input.tooltip( "close" ).attr( "title", "" );
        }, 2500 );
        this.input.data( "ui-autocomplete" ).term = "";
        },

        _destroy: function() {
        this.wrapper.remove();
        this.element.show();
        }
        });
        })( jQuery );

    function searchCategory(pageNum){
        var url = "";
        url = "@routes.Browse.categoryLanding(result.keyword)";
        url = url + "?area=" + $("#areaId").text();
        if(pageNum != undefined)
            url = url + "&page=" + pageNum;
        location.href=url
    }

    $(function(){
    if($('#srp-next').length){
        $('#srp-next').bind("click",function(){
            searchCategory(parseInt("@result.currentPage", 10) + 1);
        });
    }

    if($('#srp-prev').length){
        $('#srp-prev').bind("click",function(){
            searchCategory(parseInt("@result.currentPage", 10) - 1);
        });
    }

    $('#topNav' +  '@result.keyword').addClass("curr");
    $( "#combobox" ).combobox({ change: function() { searchCategory();}});
    $("#combobox").change(function() {
    });

    //---tooltip
    $( document ).tooltip();
    })
</script>


<div class="left">
    <span>Here is left area</span>
</div>

}