@(product: Product)(implicit user:Option[Profile])
@main(product.name, user) {
<div id="product-intro">
    <div id="product-name">
        <h1>@product.name</h1>
        <span style="font-size:13px">@product.description</span>
    </div>
    <div class="clearfix" clstag="">
        <ul id="product-summary">
            <li id="summary-list-price">
                <div class="dt">@Messages("pdp.listprice.label")</div>
                <div class="dd" id="itemListPrice">
                    <span><del id="sku-list-price">@util.AppHelper.displayPrice(product.listPriceRange)</del></span>
                </div>
            </li>
            <li id="summary-price">
                <div class="dt">@Messages("pdp.price.label")</div>
                <div class="dd" id="itemPrice">
                    <strong class="p-price" id="sku-price">@util.AppHelper.displayPrice(product.priceRange)</strong></div>
            </li>
            <li id="summary-ship-time">
                <div class="dt">@Messages("pdp.shiptime.label")</div>
                <div class="dd">@util.AppHelper.displayShipTime(product.timeRange._1,product.timeRange._2)</div>
            </li>
            <li id="summary-address-scope">
                <div class="dt">@Messages("pdp.shipping.scope.label")</div>
                <div class="dd">软件园区域</div>
            </li>
            <li id="sales-quantity">
                <div class="dt">@Messages("pdp.sale.quantity.label")</div>
                <div class="dd">@product.salesVolume</div>
            </li>
        </ul>
        <ul id="choose">
            <li id="choose-sku">
                <div class="dt">@Messages("pdp.choose.sku.label")</div>
                <div class="dd">
                    @for(sku <- product.childSkus){
                    <div class="item">
                        <a href="javascript:void(0)" id="slink_@sku.id" title="@sku.name" onclick="selectSku('@sku.id')">@sku.name</a>
                    </div>
                    }
                    <span id="selectedSku" style="display:none"></span>
                </div>
            </li>
            <li id="choose-dinner-type">
                <div class="dt">@Messages("pdp.choose.sku.label")</div>
                <div class="dd">
                    @for(dinnerType <- DinnerType.dinnerTypeMap){
                        <div class="item">
                            <a href="javascript:void(0)" id="dt_@dinnerType._1" onclick="selectDinnerType('@dinnerType._1')">@dinnerType._2</a>
                        </div>
                    }
                    <span id="selectedDinnerType" style="display:none"></span>
                </div>
            </li>
            <li id="choose-qty">
                <div class="dt">购买数量：</div>
                <div class="dd">
                    <div class="wrap-input">
                        <a class="btn-reduce" href="javascript:;" onclick="reduceQty()">-</a>
                        <input class="text" id="buy-num" value="1" >
                        <a class="btn-add" href="javascript:;" onclick="increaseQty()">+</a>
                    </div>
                </div>
            </li>
            <li id="choose-btns">
                <div id="choose-btn-append" class="btnbuy">
                    <a class="btn-append " id="InitCartUrl" onclick="addToCart()" title="">加入购物车<b></b></a>
                    <span id="cart_error" style="display: none; ">当前时间不能购买该商品</span>
                </div>

            </li>

        </ul>
    </div>
    <div id="preview">
        <div id="heroimg">
            <img width="350" height="350" src="@util.AppHelper.productImage(product)">
        </div>
    </div>

    <div id="addToCartError" style="display:none">
       <span>@Messages("choose.sku.message")</span>
    </div>
    <div id="addToCartSuccess" style="display:none">
        <span>@Messages("cart.success.message")</span>
        <a href="@routes.CheckoutController.viewCart()">@Messages("view.cart.message")</a>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        var selectedSkuId = window.location.search.replace('?sku=', '');
        if(selectedSkuId){
            selectSku(selectedSkuId);
        } else {
            var skuList = $("[id^=slink_]", "#choose-sku");
            if(skuList.size() == 1){
                selectSku(skuList[0].id.substr(6));
            }
        }


    });

    function selectDinnerType(dinnerType){
        $("#choose-dinner-type .selected").removeClass("selected");
        $("#dt_" + dinnerType).parent().addClass("selected");
        $("#selectedDinnerType").text(dinnerType)
    }
    function selectSku(skuId){
        $("#selectedSku").text(skuId);
        $("#choose-sku .selected").removeClass("selected");
        $("#slink_" + skuId).parent().addClass("selected");
        $.ajax({
            async: true,
            url: "/sku/select/"+skuId,
            type: "GET",
            success: function(result){
                $("#sku-price").text("￥" + result.price)
                $("#sku-list-price").text("￥" + result.listPrice)
            }
        })
    }
    function addToCart() {
        var skuId = $("#selectedSku").text();
        var dinnerType = $("#selectedDinnerType").text();
        if(skuId == "" || dinnerType == ""){
            $('#addToCartError').dialog({
                title: '@Messages("error.message.title")',
                resizable: false,
                height:140,
                modal: true,
                open:function(event, ui){
                    $(".ui-dialog-titlebar-close", $(this).parent()).hide();
                },
                closeOnEscape: false,
                buttons: {
                    "@Messages("ok.button")": function() {
                        $(this).dialog( "close" );
                    }
                }
            });
            return;
        }
        @user match {
            case Some(us) => {
                $.ajax({
                            async:true,
                            url:"/cart/add/" + skuId + "/" + $("#buy-num").val() + "/" + dinnerType,
                            type:"GET",
                            success: function(result){
                                if(result == "TIME_NOT_IN_RANGE"){
                                    $("#cart_error").show()
                                    return
                                }
                                $('#addToCartSuccess').dialog({
                                        title: "@Messages("prompt.title")",
                                        resizable: false,
                                        height:140,
                                        modal: true,
                                        open:function(event, ui){
                                            $(".ui-dialog-titlebar-close", $(this).parent()).hide();
                                        },
                                        closeOnEscape: false,
                                        buttons: {
                                        "@Messages("ok.button")": function() {
                                            console.log("location is " + window.location.href)
//                                            window.location.reload();
                                            window.location.href = "@routes.Browse.productDetail(product.id)?sku=" + skuId
                                            $(this).dialog( "close" );
                                        }
                                    }
                                });
                            }
                        }
                );
            }
            case _ => {
                location.href="@routes.ProfileController.login?forward=" + document.URL;
            }
        }
    }


    function reduceQty(){
        var currentQty = parseInt($("#buy-num").val());
        if(currentQty > 1){
            $("#buy-num").val(currentQty - 1)
        }
    }

    function increaseQty(){
        var currentQty = parseInt($("#buy-num").val());
        $("#buy-num").val(currentQty + 1)

    }
</script>

}