@(product: Product)(implicit user:Option[Profile])
@main(product.name, user) {
<div id="product-intro">
    <div id="product-name">
        <h1>@product.name</h1>
        <span style="font-size:13px">@product.description</span>
    </div>
    <div class="clearfix" clstag="">
        <ul id="product-summary">
            <li id="summary-price">
                <div class="dt">@Messages("pdp.price.label")</div>
                <div class="dd" id="itemPrice">
                    <strong class="p-price" id="jd-price">@util.AppHelper.displayPrice(product.priceRange)</strong></div>
            </li>
            <li id="summary-rating">
                <div class="dt">@Messages("pdp.rating.label")</div>
                <div class="dd">
                    <span class="star sa5"></span>
                    <a href="#comment" style="float: left;">(已有494人评价)</a>
                </div>
            </li>
            <li id="summary-address-scope">
                <div class="dt">@Messages("pdp.shipping.scope.label")</div>
                <div class="dd"></div>
            </li>
            <li id="sales-quantity">
                <div class="dt">@Messages("pdp.sale.quantity.label")</div>
                <div class="dd">10000</div>
            </li>
        </ul>
        <ul id="choose">
            <li id="choose-sku">
                <div class="dt">@Messages("pdp.choose.sku.label")</div>
                <div class="dd">
                    @for(sku <- product.childSkus){
                    <div class="item">
                        <a href="javascript:void(0)" id="slink_@sku.id" title="@sku.name" onclick="selectSku('@sku.id')">@sku.name</a>
                    </div>
                    }
                    <span id="selectedSku" style="display:none"></span>
                </div>
            </li>
            <li id="choose-qty">
                <div class="dt">购买数量：</div>
                <div class="dd">
                    <div class="wrap-input">
                        <a class="btn-reduce" href="javascript:;" onclick="reduceQty()">-</a>
                        <input class="text" id="buy-num" value="1" >
                        <a class="btn-add" href="javascript:;" onclick="increaseQty()">+</a>
                    </div>
                </div>
            </li>
            <li id="choose-btns">
                <div id="choose-btn-append" class="btnbuy">
                    <a class="btn-append " id="InitCartUrl" onclick="addToCart()" title="">加入购物车<b></b></a>
                </div>

            </li>

        </ul>
    </div>
    <div id="preview">
        <div id="heroimg">
            <img width="350" height="350" src="@util.AppHelper.productImage(product)">
        </div>
    </div>

    <div id="addToCartError" style="display:none">
       <span>@Messages("choose.sku.message")</span>
    </div>
    <div id="addToCartSuccess" style="display:none">
        <span>@Messages("cart.success.message")</span>
        <a href="">@Messages("view.cart.message")</a>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        var selectedSkuId = window.location.search.replace('?sku=', '');
        if(selectedSkuId){
            selectSku(selectedSkuId);
        } else {
            var skuList = $("[id^=slink_]", "#choose-sku");
            if(skuList.size() == 1){
                selectSku(skuList[0].id.substr(6));
            }
        }


    });
    function selectSku(skuId){
        $("#selectedSku").text(skuId);
        $(".selected").removeClass("selected");
        $("#slink_" + skuId).parent().addClass("selected");

    }
    function addToCart() {
        var skuId = $("#selectedSku").text();
        if(skuId == ""){
            $('#addToCartError').dialog({
                title: '@Messages("error.message.title")',
                resizable: false,
                height:140,
                modal: true,
                open:function(event, ui){
                    $(".ui-dialog-titlebar-close", $(this).parent()).hide();
                },
                closeOnEscape: false,
                buttons: {
                    "@Messages("ok.button")": function() {
                        $(this).dialog( "close" );
                    }
                }
            });
            return;
        }
        @user match {
            case Some(us) => {
                $.ajax({
                            async:true,
                            url:"/cart/add/" + skuId + "/" + $("#buy-num").val(),
                            type:"GET",
                            success: function(result){
                                $('#addToCartSuccess').dialog({
                                    title: "@Messages("prompt.title")",
                                        resizable: false,
                                        height:140,
                                        modal: true,
                                        open:function(event, ui){
                                    $(".ui-dialog-titlebar-close", $(this).parent()).hide();
                                    },
                                    closeOnEscape: false,
                                        buttons: {
                                    "@Messages("ok.button")": function() {
                                        window.location.reload();
                                        $(this).dialog( "close" );
                                    }
                                    }
                                });
                            }
                        }
                );
            }
            case _ => {
                location.href="@routes.ProfileController.login?forward=" + document.URL;
            }
        }
    }


    function reduceQty(){
        var currentQty = parseInt($("#buy-num").val());
        if(currentQty > 1){
            $("#buy-num").val(currentQty - 1)
        }
    }

    function increaseQty(){
        var currentQty = parseInt($("#buy-num").val());
        $("#buy-num").val(currentQty + 1)

    }
</script>

}