@(message: String, result: vo.SearchResult)(implicit user:Option[Profile])

@main(Messages("srp.page.title"), user) {
    <div class="right-extra">
        <span>Here is right area</span>
        <div id="filter">
            <div class="fore1">
                <dl class="order">
                    <dt>@Messages("srp.search.order")</dt>
                    <dd>
                        <a href="#">@Messages("srp.order.saleqty")</a>
                        <b></b>
                    </dd>
                    <dd class="">
                        <a href="#">@Messages("srp.order.price")</a>
                        <b></b>
                    </dd>
                    <dd class="">
                        <a href="#">@Messages("srp.order.rating")</a>
                        <b></b>
                    </dd>
                </dl>
                <div class="pagin pagin-m"><span class="text"><i>1</i>/23</span>
                    <span class="prev-disabled">上一页<b></b></span>
                    <a class="next" href="670-671-672-0-0-0-0-0-0-0-1-3-2-1.html">下一页<b></b></a>
                </div>
                <div class="total"><span>共<strong>821</strong>个商品</span></div>
            </div>
        </div>
        <div id="plist" class="plist-n7a">
            <ul class="list-h">
                <li index="0">
                    <div class="p-img">
                        <a target="_blank" href=""><img width="220" height="220" alt="" src="" data-img="1" title=""></a>
                        <div class="picon pi6"><b></b></div>
                    </div>
                    <div class="p-name"><a target="_blank" href="" title=""> place title here</a></div>
                    <div id="djd779369" class="p-price"><strong>￥209999.00</strong><span id="p779369"></span></div>
                    <div class="extra"><span class="evaluate"><a target="_blank" href="http://club.jd.com/review/779369-1-1.html">已有0人评价</a></span><span class="reputation">(0%好评)</span></div>
                    <div class="btns"><a onclick="log(1,7,779369)" href="http://gate.jd.com/InitCart.aspx?pid=779369&amp;pcount=1&amp;ptype=1" target="_blank" class="btn-buy">加入购物车</a><a id="coll779369" href="javascript:;" class="btn-coll">关注</a><a class="btn-compare btn-compare-s" id="comp_779369" skuid="779369"><span></span>对比</a></div>
                </li>
                <li index="0">
                    <div class="p-img">
                        <a target="_blank" href=""><img width="220" height="220" alt="" src="" data-img="1" title=""></a>
                        <div class="picon pi6"><b></b></div>
                    </div>
                    <div class="p-name"><a target="_blank" href="" title=""> place title here</a></div>
                    <div id="djd779369" class="p-price"><strong>￥209999.00</strong><span id="p779369"></span></div>
                    <div class="extra"><span class="evaluate"><a target="_blank" href="http://club.jd.com/review/779369-1-1.html">已有0人评价</a></span><span class="reputation">(0%好评)</span></div>
                    <div class="btns"><a onclick="log(1,7,779369)" href="http://gate.jd.com/InitCart.aspx?pid=779369&amp;pcount=1&amp;ptype=1" target="_blank" class="btn-buy">加入购物车</a><a id="coll779369" href="javascript:;" class="btn-coll">关注</a><a class="btn-compare btn-compare-s" id="comp_779369" skuid="779369"><span></span>对比</a></div>
                </li>
                <li index="0">
                    <div class="p-img">
                        <a target="_blank" href=""><img width="220" height="220" alt="" src="" data-img="1" title=""></a>
                        <div class="picon pi6"><b></b></div>
                    </div>
                    <div class="p-name"><a target="_blank" href="" title=""> place title here</a></div>
                    <div id="djd779369" class="p-price"><strong>￥209999.00</strong><span id="p779369"></span></div>
                    <div class="extra"><span class="evaluate"><a target="_blank" href="http://club.jd.com/review/779369-1-1.html">已有0人评价</a></span><span class="reputation">(0%好评)</span></div>
                    <div class="btns"><a onclick="log(1,7,779369)" href="http://gate.jd.com/InitCart.aspx?pid=779369&amp;pcount=1&amp;ptype=1" target="_blank" class="btn-buy">加入购物车</a><a id="coll779369" href="javascript:;" class="btn-coll">关注</a><a class="btn-compare btn-compare-s" id="comp_779369" skuid="779369"><span></span>对比</a></div>
                </li>
                <li index="0">
                    <div class="p-img">
                        <a target="_blank" href=""><img width="220" height="220" alt="" src="" data-img="1" title=""></a>
                        <div class="picon pi6"><b></b></div>
                    </div>
                    <div class="p-name"><a target="_blank" href="" title=""> place title here</a></div>
                    <div id="djd779369" class="p-price"><strong>￥209999.00</strong><span id="p779369"></span></div>
                    <div class="extra"><span class="evaluate"><a target="_blank" href="http://club.jd.com/review/779369-1-1.html">已有0人评价</a></span><span class="reputation">(0%好评)</span></div>
                    <div class="btns"><a onclick="log(1,7,779369)" href="http://gate.jd.com/InitCart.aspx?pid=779369&amp;pcount=1&amp;ptype=1" target="_blank" class="btn-buy">加入购物车</a><a id="coll779369" href="javascript:;" class="btn-coll">关注</a><a class="btn-compare btn-compare-s" id="comp_779369" skuid="779369"><span></span>对比</a></div>
                </li>
                <li index="0">
                    <div class="p-img">
                        <a target="_blank" href=""><img width="220" height="220" alt="" src="" data-img="1" title=""></a>
                        <div class="picon pi6"><b></b></div>
                    </div>
                    <div class="p-name"><a target="_blank" href="" title=""> place title here</a></div>
                    <div id="djd779369" class="p-price"><strong>￥209999.00</strong><span id="p779369"></span></div>
                    <div class="extra"><span class="evaluate"><a target="_blank" href="http://club.jd.com/review/779369-1-1.html">已有0人评价</a></span><span class="reputation">(0%好评)</span></div>
                    <div class="btns"><a onclick="log(1,7,779369)" href="http://gate.jd.com/InitCart.aspx?pid=779369&amp;pcount=1&amp;ptype=1" target="_blank" class="btn-buy">加入购物车</a><a id="coll779369" href="javascript:;" class="btn-coll">关注</a><a class="btn-compare btn-compare-s" id="comp_779369" skuid="779369"><span></span>对比</a></div>
                </li>
                <li index="0">
                    <div class="p-img">
                        <a target="_blank" href=""><img width="220" height="220" alt="" src="" data-img="1" title=""></a>
                        <div class="picon pi6"><b></b></div>
                    </div>
                    <div class="p-name"><a target="_blank" href="" title=""> place title here</a></div>
                    <div id="djd779369" class="p-price"><strong>￥209999.00</strong><span id="p779369"></span></div>
                    <div class="extra"><span class="evaluate"><a target="_blank" href="http://club.jd.com/review/779369-1-1.html">已有0人评价</a></span><span class="reputation">(0%好评)</span></div>
                    <div class="btns"><a onclick="log(1,7,779369)" href="http://gate.jd.com/InitCart.aspx?pid=779369&amp;pcount=1&amp;ptype=1" target="_blank" class="btn-buy">加入购物车</a><a id="coll779369" href="javascript:;" class="btn-coll">关注</a><a class="btn-compare btn-compare-s" id="comp_779369" skuid="779369"><span></span>对比</a></div>
                </li>
                <li index="0">
                    <div class="p-img">
                        <a target="_blank" href=""><img width="220" height="220" alt="" src="" data-img="1" title=""></a>
                        <div class="picon pi6"><b></b></div>
                    </div>
                    <div class="p-name"><a target="_blank" href="" title=""> place title here</a></div>
                    <div id="djd779369" class="p-price"><strong>￥209999.00</strong><span id="p779369"></span></div>
                    <div class="extra"><span class="evaluate"><a target="_blank" href="http://club.jd.com/review/779369-1-1.html">已有0人评价</a></span><span class="reputation">(0%好评)</span></div>
                    <div class="btns"><a onclick="log(1,7,779369)" href="http://gate.jd.com/InitCart.aspx?pid=779369&amp;pcount=1&amp;ptype=1" target="_blank" class="btn-buy">加入购物车</a><a id="coll779369" href="javascript:;" class="btn-coll">关注</a><a class="btn-compare btn-compare-s" id="comp_779369" skuid="779369"><span></span>对比</a></div>
                </li>
            </ul>
        </div>
    </div>


    <div class="left">
        <span>Here is left area</span>
    </div>

}