@(user:Option[Profile])
<div class="acctNav">
    <ul>
        <li class="welcome">@Messages("site.welcome"), <span class="customerName">
		    @user match {
				case Some(user) => {
				   @user.name
                   </span>( @Messages("notme.label")? <a href="@routes.ProfileController.login">@Messages("clickhere.label")</a>
            )
        </li>
        <li><a href="@routes.ProfileController.signout">@Messages("clickhere.label")</a></li>
        <li><a href="@routes.ProfileController.myAccount">@Messages("myaccount.label")</a></li>
        }
        case None => {
        @Messages("site.anonymous")
        <li><a href="@routes.ProfileController.login">@Messages("signin.label")</a></li>
        <li><a href="@routes.ProfileController.signup">@Messages("register.label")</a></li>
        }
        }
    </ul>
</div>