@(profileForm:Form[Profile])(implicit user: Option[Profile])

@import helper._
@myAccount(user){
        <p>birthday is @user.get.gender</p>
@form(action = routes.ProfileController.update) {
        <input type="hidden" name="id" value="@user.get.id" />
<div>
    <label for="login">Username</label>
    <input type="text" name="login" id="login" value="@user.get.login"/>
</div>
<div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="@user.get.name"/>
</div>
<div>
    <label for="birthday">Birthday</label>
    <input type="text" name="birthday" id="birthday" value="@user.get.birthDay"/>
</div>
<div>
    <label for="gender">Gender</label>
    <select id="gender" name="gender" value="@user.get.gender">
        <option value="M">Male</option>
        <option value="F">Female</option>
    </select>
</div>
<div class="submit-action">
    <input type="submit" class="btn primary" value="Update">
    <a href="@routes.Application.index" class="btn">Cancel</a>
</div>

}
}