<div class="w">
    <div id="footer-2013">
        <div class="links">
            <a rel="nofollow" target="_blank" href="http://www.jd.com/intro/about.aspx">关于我们</a>|
            <a rel="nofollow" target="_blank" href="http://www.jd.com/contact/">联系我们</a>|
            <a rel="nofollow" target="_blank" href="http://zhaopin.jd.com/">人才招聘</a>|
            <a rel="nofollow" target="_blank" href="http://www.jd.com/contact/joinin.aspx">商家入驻</a>|
            <a rel="nofollow" target="_blank" href="http://www.jd.com/intro/service.aspx">广告服务</a>|
            <a target="_blank" href="http://club.jd.com/links.aspx">友情链接</a>|
        </div>
        <div class="copyright">Copyright©2013&nbsp;&nbsp;雨侠网&nbsp;版权所有</div>
    </div>
</div>