@(form:Form[(String,String)])(implicit flash:Flash)
<!DOCTYPE html>

<html>
<head>
    <title>@Messages("site.login.title")</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/base.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/component.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/layout.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
</head>
<script type="text/javascript">
    function signin(){
    alert('dsds');
    $("form").submit();
    }
</script>
<body id="login-body">
<div class="w2">
    <div id="logo"><a href="@routes.Application.index" ><img src="@routes.Assets.at("images/logo.jpg")" alt="@Messages("site.name")" width="170" height="60"></a><b></b></div>
</div>
@helper.form(routes.ProfileController.authenticate)      {

<div class="w1" id="entry">
    <div class="mc " id="bgDiv">
        <div class="form ">
            <div class="item fore1">
                <span>邮箱</span>
                <div class="item-ifo">
                    <input type="text" id="login" name="login" value="@form(" login").value" class="text" tabindex="1" autocomplete="off">
                    <label id="loginname_succeed" class="blank invisible"></label>
                    <label id="loginname_error" class="hide"><b></b></label>
                </div>
            </div>
            <div class="item fore2">
                <span>密码</span>
                <div class="item-ifo">
                    <input type="password" id="password" name="password" class="text" tabindex="2" autocomplete="off">
                </div>
            </div>
            <div class="item fore4" id="autoentry">
                <div class="item-ifo">
                    <input type="checkbox" class="checkbox" name="chkRememberMe" clstag="passport|keycount|login|04">
                    <label class="mar">自动登录</label>
                    <label><a href="http://safe.jd.com/findPwd/index.action" class="" clstag="passport|keycount|login|05">忘记密码?</a></label>
                    <div class="clr"></div>
                </div>
            </div>

            <div class="item login-btn2013">
                <input type="button" onclick="javascript: signin()" class="btn-img btn-entry" id="loginsubmit" tabindex="8" >
            </div>
            <span><a href="https://reg.jd.com/reg/person">免费注册&gt;&gt;</a></span>
        </div>
    </div>
</div>

}

</body>
</html>
