@(title: String, user:Option[Profile], showNav: Boolean = true)(content: Html)

<!DOCTYPE html>

<html>
<head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/base.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/layout.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/ui.dynatree.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui.min.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.cookie.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.dynatree.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.ui.datepicker-zh-CN.js")" type="text/javascript"></script>
</head>
<body class="column_3">
<div id="wrapper">
    <section id="topSection">
        @topbar(user)
        @header(user)
        @if(showNav){
            @topnav(user)
        }
    </section>
    <section id="mainSection">
        <!-- left aside -->
        <aside class="aside l_side" style="background-color:green">&nbsp;</aside>
        <div class="content">
            @content
        </div>
        <!--right aside -->
        <aside class="aside r_side" style="background-color:green">&nbsp;</aside>
    </section>
    <section id="btmSection">
        @footer()
    </section>
</div>
</body>
</html>