@(title: String, user:Option[Profile])(content: Html)

<!DOCTYPE html>

<html>
<head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/base.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/component.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/layout.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
</head>
<body class="column_3">
<div id="wrapper">
    <section id="topSection">

        @topbar(user)
        @header()
        @topnav()
        <!--
        <h1 id="store_logo" title="YuXia">
            <a href="localhost:9000"></a>
        </h1>
        accountInfo(user)
        searchBox()
        miniCart()
        -->
    </section>
    <section id="mainSection">
        <!-- left aside -->
        <aside class="aside l_side" style="background-color:green">&nbsp;</aside>
        <div class="content">
            @content
        </div>
        <!--right aside -->
        <aside class="aside r_side" style="background-color:green">&nbsp;</aside>
    </section>
    <section id="btmSection">
        <p>Footer</p>
    </section>
</div>
</body>
</html>