<div class="cartBox">
    <ul>
        <li class="checkoutLink"><a href="#">Checkout</a></li>
        <li>
            <a href="###" class="cart">Cart - <span class="amount">&pound;999,9.00</span></a>

            <div class="miniCart">
                <!-- <P class="empty">No products in the cart.</P> -->

                <p class="miniCartTitle">Recently added item(s)</p>

                <div class="miniCartList">
                    <div class="cartItem">
                        <ul>
                            <li class="imgBox">
                                <a href="#">
                                    <img src="@routes.Assets.at("images/logo.jpg")" title="" alt="" />
                                </a>
                            </li>
                            <!--<li class="infoBox">
                                <h2><a href="#">Nice Demo Watch</a></h2>
                                <p class="price">&pound;199.00</p>
            <p class="qty">(Quantity: 1)</p>
        </li>-->
                        </ul>
                    </div>
                </div>

                <dl class="subTotal">
                    <dt></dt>
                    <dd></dd>
                </dl>

                <dl class="buttonBox">
                    <dt><a class="styleBtn bgColor">View Cart</a></dt>
                    <dd><a class="styleBtn bgColor">Contiune Checkout</a></dd>
                </dl>

            </div>
        </li>
    </ul>
</div>

