<div class="searchBox">
    <form action="" method="post" class="searchForm">
        <label for="search_value">Welcome to our store</label>
        <input name="search_value" type="text" placeholder="Search for products" class="textInput"/>
        <input type="submit" name="searchSubmit" value="GO" class="btn_search"/>
    </form>

    <div class="keywords">
        <strong>Search Suggestions:</strong>
        <ul>
            <li><a href="#">Jac<b>kets</b> &amp; vests</a></li>
            <li><a href="#">Jac<b>kets</b> &amp; vests</a></li>
            <li><a href="#">Jac<b>kets</b> &amp; vests</a></li>
            <li><a href="#">Jac<b>kets</b> &amp; vests</a></li>
            <li><a href="#">Jac<b>kets</b> &amp; vests</a></li>
            <li><a href="#">Jac<b>kets</b> &amp; vests</a></li>
        </ul>
    </div>
</div>