@(profileForm: Form[Profile])(implicit flash:Flash)

<!DOCTYPE html>

<html>
<head>
    <title>@Messages("site.signup.title")</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/base.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/component.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/layout.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
</head>
<script type="text/javascript">
    function signin(){
    $("form").submit();
    }
</script>
<body id="login-body">
<div class="w2">
    <div id="logo"><a href="@routes.Application.index" ><img src="@routes.Assets.at("images/logo.jpg")" alt="@Messages("site.name")" width="170" height="60"></a><b></b></div>
</div>
<div class="w2" id="regist">
<div class="mc">
@helper.form(action = routes.ProfileController.create) {
<div class="form">
    <div class="item" id="select-regName">
        <span class="label"><b class="ftx04">*</b>@Messages("login.email")：</span>
        <div class="fl item-ifo">
            <div class="o-intelligent-regName">
                <input type="text" id="login" name="login" class="text" tabindex="1" autocomplete="off" value="@profileForm.data.get("login")" onpaste="return false;"style="color: rgb(153, 153, 153);">
                @profileForm.error("login") match{
                    case Some(err) => {
                        <label id="regName_error" class="error">@Messages(err.message)</label>
                        <script type="text/javascript">
                            $(function(){
                                $('#login').addClass("highlight2");
                            });
                        </script>
                }
                case None => {}
                }
            </div>
        </div>
    </div>
    <div class="item" id="select-userName">
        <span class="label"><b class="ftx04">*</b>用户名：</span>
        <div class="fl item-ifo">
            <div class="o-intelligent-regName">
                <input type="text" id="name" name="name" class="text" tabindex="1" autocomplete="off" value="@profileForm.data.get("name")" onpaste="return false;"style="color: rgb(153, 153, 153);">
                @profileForm.error("name") match{
                case Some(err) => {
                <label id="userName_error" class="error">@Messages(err.message)</label>
                <script type="text/javascript">
                    $(function(){
                        $('#name').addClass("highlight2");
                    });
                </script>
                }
                case None => {}
                }

            </div>
        </div>
    </div>
    <div id="o-password">
        <div class="item">
            <span class="label"><b class="ftx04">*</b>请设置密码：</span>

            <div class="fl item-ifo">
                <input type="password" id="password.main" name="password.main" class="text" tabindex="2" value="@profileForm.data.get("password.main")" style="ime-mode:disabled;" onpaste="return  false" autocomplete="off" sta="0">
                @profileForm.error("password.main") match{
                case Some(err) => {
                <label id="pwd_error" class="error">@Messages(err.message)</label>
                <script type="text/javascript">
                    $(function(){
                    $('#password\\.main').addClass("highlight2");
                    });
                </script>
                }
                case None => {}
                }

            </div>
        </div>

        <div class="item">
            <span class="label"><b class="ftx04">*</b>请确认密码：</span>
            <div class="fl item-ifo">
                <input type="password" id="password.confirm" name="password.confirm" class="text" tabindex="3" onpaste="return  false" autocomplete="off">
                @profileForm.error("password") match{
                case Some(err) => {
                <label id="pwdRepeat_error" class="error">@Messages(err.message)</label>
                <script type="text/javascript">
                    $(function(){
                    $('#password\\.confirm').addClass("highlight2");
                    });
                </script>
                }
                case None => {}
                }
            </div>
        </div>
    </div>
    <div class="item">
        <span class="label">&nbsp;</span>
        <input type="button" class="btn-img btn-regist hover-btn" id="registsubmit" value="立即注册" tabindex="8" onclick="$('form').submit()">
    </div>

<div class="submit-action">
    <input type="submit" class="btn primary" value="Sign Up">
    <a href="@routes.Application.index" class="btn">Cancel</a>
</div>

</div>

}

</div>
</div>


</body>
</html>